[2015-04-10 00:47] Chirag-Chauhan opened #1 "Add android platform fails"
I am using following command to add the Android platform: cordova platform add android@97718a0a25ec50fedf7b023ae63bfcffbcfafb4b. But it fails with error "Unable to fetch platform android@97718a0: Error: tunneling socket could not be established, cause=connect ECONNREFUSED".

On a side note, I am successfully able to add iOS platform.

Any help will be appreciated.

Thanks.

[2015-04-14 18:11] ligaz opened #2 "Adding Windows native libs without hooks"
Is there any particular need to use hooks to manipulate native projects? The functionality used is already available declaratively in the `plugin.xml`.

[2015-04-20 08:28] Borja204 opened #3 "Error in build"
Error	3	El comando ""C:\Users\borja.alvarez.ELNR\AppData\Roaming\npm\node_modules\vs-mda\vs-cli" build --platform "Android" --configuration "Debug" --projectDir . --projectName "BlankCordovaApp1" --language "es-ES" --buildServerUrl "" --buildTarget "AndroidDevice"" salió con el código 8.	C:\Users\borja.alvarez.ELNR\AppData\Roaming\npm\node_modules\vs-mda-targets\Microsoft.MDA.targets	99	5	BlankCor

[2015-04-24 18:08] sgrebnov commented on #2
The main issue here is that both Phone and PC/Tablet ADAL native libraries for Windows have the same name so if we use default Cordova API thery are placed to the same folder and overwrite each other. So we temporary use hoojs based approach and looking how to fix this

[2015-04-24 18:17] sgrebnov commented on #1
Hi @Chirag-Chauhan, Android platform has been released so please try the following

`npm update -g cordova` to update to the latest Cordoav Tools
`cordova platform add android` - you don't need to specify version anymore

Feel free to re-open this issue if you still have a problem

[2015-04-24 18:17] #1 closed

[2015-04-28 05:19] joshgav opened #4 "Permissions needed for broker?"
Found the following in LogCat when authenticating.

`607-19355/com.microsoft.services.sample.cordovaApp W/BrokerProxy﹕ DEVELOPER_BROKER_PERMISSIONS_MISSING:2015-04-28 04:52:22-b45b17ac-6b97-4901-a360-a30222614f6d-Broker related permissions are missing for GET_ACCOUNTS, MANAGE_ACCOUNTS, USE_CREDENTIALS ver:1.1.1
04-27 21:52:22.503  18`

Looks from [this](https://github.com/AzureAD/azure-activedirec

[2015-04-29 13:58] EeKay opened #6 "Building android version of the sample from repo fails: cannot resolve all dependencies"
I updated to the latest cordova stuff:
 - npm -v: 1.3.8
 -  node -v: v0.10.28
 - cordova -v: 5.0.0
 - cordova platform: Installed platforms: android 4.0.0, ios 3.8.0
 - cordova plugin:
   - cordova-plugin-ms-adal 0.5.0 "ADAL for Cordova"
  - cordova-plugin-whitelist 1.0.1-dev "Whitelist"

When i follow the steps as by docs on the github Readme:
- clone repo
- create project with sample www
- go to

[2015-04-30 13:29] EeKay commented on #6
Solved it by using Android SDK manager to install Android Support Repository (under Extras) Rev. 14.
After this, building the android target with cordova build android works correct!

[2015-04-30 13:29] #6 closed

[2015-04-30 13:50] EivindJacobsen commented on #3
I have similiar issue. I open new cordova project in visual studio 2013. Then i open config and add azure-activedirectory-library-for-cordova plugin. Then when I try to build, it fails. It just says "Uh, Oh!" in the output.

[2015-05-04 12:27] EeKay opened #7 "Cannot compile ios target with adal cordova library and space in config.xml's name property"
Tooling used:
Macbook pro with OS X Yosemity 10.10.3, Cordova CLI 5.0.0, NPM 2.7.4, Node v0.10.28
Xcode 6.3.1, Command Line Tools (OS X 10.10) for Xcode 6.3.1

Steps to reproduce:
- create new project with
$ cordova create adalbuilderrortest com.example.adaltest 'Adal Testapp'
- go to adalbuilderrortest/www
- add plugin via
$ cordova plugin add cordova-plugin-ms-adal
- add platform ios via
$ cordo

[2015-05-12 06:31] EeKay commented on #7
I have fixed this; seems the space in my project's name was causing the issue in combination with the configureEntitlementsIos.js script... I'll send in a pull-request in a couple hours to address this.

At least we can have spaces in the project names then ;)

[2015-05-19 07:39] EeKay commented on #7
The pull request fixing this issue has been issued.. Pull request https://github.com/AzureAD/azure-activedirectory-library-for-cordova/pull/8

[2015-05-22 16:15] falcon198198 opened #9 "Failure to Load Resource - running plugin with Ionic"
Oops, for got to add the problem here:
When I pull up the debugger it is complaining that this file is missing.
Project seems to run fine without it , but it would be nice to get the error resolved.

Ideas ?, BTW thank's for the awesome plugin . I have it running in Ionic without any problems.

file:///Users/zzzzz/Library/Developer/CoreSimulator/Devices/DF4F351E-3651-4D91-BB86-763DD58A5856/data/Co

[2015-06-03 23:18] Praburaj opened #10 "Running into 'class not registered' error when running the sample"
I followed the instructions at https://github.com/AzureAD/azure-activedirectory-library-for-cordova and tried to run the sample https://github.com/AzureAD/azure-activedirectory-library-for-cordova/tree/master/sample. However in the UI I always run into this:

![image](https://cloud.githubusercontent.com/assets/2294732/7973572/f8bd26f4-0a0b-11e5-8ede-39e8a90a0824.png)

On debugging this a little fu

[2015-06-05 09:00] sgrebnov commented on #7
@EeKay Thx for the patch! Closing this issue

[2015-06-05 09:00] #7 closed

[2015-06-05 09:01] sgrebnov commented on #4
@joshgav Thx for the patch! Closing this issue

[2015-06-05 09:01] #4 closed

[2015-06-05 09:02] sgrebnov commented on #3
This is fixed now as we added Ant support which is used by VS

[2015-06-05 09:02] #3 closed

[2015-06-05 09:15] sgrebnov commented on #10
Looks like to be an msbuild14 issue. @Praburaj - do you use VS 2013? If so, please try installing [Update 5](https://www.visualstudio.com/news/vs2013-update5-vs).

[2015-06-05 09:20] sgrebnov commented on #10
To verify this, please see if  you have the following elements in AppManifest.xml generated by the build process

[code]

[2015-06-05 09:33] sgrebnov commented on #2
I've reviewed framework installation logic for Windows and there is no such param so closing this

[2015-06-05 09:51] sgrebnov commented on #9
See the same error in debug tools

![image](https://cloud.githubusercontent.com/assets/981580/8003588/92c696d8-0b81-11e5-910d-1786b2a6b0dc.png)

[2015-06-05 09:53] sgrebnov commented on #9
To fix this the following line must be removed: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/www/utility.js#L604

[2015-06-05 09:56] #9 closed

[2015-06-05 16:25] Praburaj commented on #10
Thanks @sgrebnov That indeed fixed the problem.

[2015-06-06 11:13] sgrebnov commented on #10
Great, closing this issue...

[2015-06-06 11:13] #10 closed

[2015-06-29 19:45] EeKay opened #11 "the afterinstall script for android refers to old minimum sdk"
The script afterPluginInstall-android.js sets the android:minSdkVersion to 14 for the manifest file.
This in its turn triggers the build to include the android-support-v4.jar file.

When using a library that depends on the newer v13 support jar this will create "Multiple Dex included" issues like:

UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files define Landroid/sup

[2015-07-07 07:51] arefkn opened #12 "Corporate ADFS support for Windows Phone 8.1 - When?"
Hello,

Can you please brief on the issue and the timeline for enabling this on Win P 8.1?

[2015-07-13 04:48] weiwenxue opened #13 "Does this support the AAD China instance?"

[2015-07-28 21:21] fw224 opened #14 "Exception when using ADAL cordova on a encrypted android phone"
I am developing a cordova app that uses ADAL cordova and requires a service from a corp network (MSFT corp network). ADAL cordova works using an emulator, but on a real device (which requires encryption to access the corp network) ADAL cordova is giving me an exception. The following is the exact error:

E/PluginManager(18227): Uncaught exception from plugin
E/PluginManager(18227): java.lang.Class

[2015-07-30 03:59] takrim opened #15 "Does not work with Visual Studio 2015 Cordova tools."
Gives below error

cmd: Command failed with exit code 1

ERROR building one of the platforms

If I remove this plugin application builds with no error. So clearly this plugin is causing this issue.

[2015-08-03 03:36] jychunyih opened #16 "VS2015 Codova tool build failed in iOS device when adding ADAL plugin"
The issue is as below (if you build using emulator, you will only receive a warning)
Error		The file “ADALiOS.entitlements” couldn’t be opened because there is no such file.: (null)	BlankCordovaApp7	c:\users\chunyih\documents\visual studio 2015\Projects\BlankCordovaApp7\BlankCordovaApp7\MDAVSCLI	1

How to fix (work around, need plugin code fix)
Go to the project in Mac and open the remote build pr

[2015-08-07 10:37] kromkens commented on #12
Any news on adding Windows Phone 8.1 support yet? Or maybe how to enable it by code?

[2015-08-07 13:31] MarkusDemmlerSDX opened #17 "acquireTokenAsync never returns"
When acquireTokenAsync excecutes, it shows the Microsoft Login Page and I can enter the credentials. After clicking on the login button, nothing happens and the method never returns anything: There is no success or failure callback being called.
What could be the issue?

[2015-08-10 08:23] kromkens commented on #12
Just support for ADFS servers, not SSO.

[2015-08-10 09:43] MarkusDemmlerSDX commented on #17
Got it working: User needs to be a domain user. A Microsoft account does not work.

[2015-08-10 09:43] #17 closed

[2015-08-12 13:31] mikkk24 commented on #16
Working plugin code fix can be done in file scripts/configureEntitlementsIos.js after line 61 adding the following line:

		entitlementsFile = "\"" + entitlementsFile.substring(2);

[2015-08-16 07:55] takrim opened #18 "this plugin does not work on Android device. It is stuck on the Azure AD signin page, I am using my Azure AD domain account."
![screenshot_2015-08-16-01-00-07](https://cloud.githubusercontent.com/assets/7156178/9292508/4bb7d716-43b2-11e5-9474-9d594a081923.png)

[2015-08-18 11:18] stevenlivz opened #19 "Use the VS2013+ Tools to Build"
More of a heads up than an issue as it cost me some time.

Once you have done "cordova platform add windows" (avoid wp8), if you are in a normal command line it will use VS2012 if you will get MakePri "Schema Validation Failed" and so on .... took me a while to figure this out.

Just open a VS 2013 command prompt (not that it will say 2012 in the path but ignore that).

It should now build properl

[2015-08-18 11:20] stevenlivz commented on #18
I am using it on Android fine with an Azure AD account. Can you put in more detail.

[2015-08-18 11:28] stevenlivz commented on #15
I also get an error when using the VS2015 command line - fine with 2013 tools. Details below.

c:\dev\code\openglasgow.samples.api.connector.cordova>cordova build windows
Running command: cmd "/s /c "c:\dev\code\openglasgow.samples.api.connector.cordova\platforms\windows\cordova\build.bat""
MSBuildToolsPath: C:\Program Files (x86)\MSBuild\14.0\bin\amd64\
Building project: c:\dev\code\openglasgow.s

[2015-08-24 20:18] takrim commented on #18
Seems like this is issue in cordova 5.1.1 , which is fixed in cordova j5.2.0

[2015-08-24 20:18] #18 closed

[2015-09-07 16:11] nartawak opened #20 "Does it work with ADFS 2.0"
Hi,
I need to secure a cordova app (IOS & Windows 10 platform)  with ADFS 2.0. I want to know if this plugin  support this version ? I think not, but could you confirm ?

[2015-10-09 18:47] RandalliLama commented on #12
@arefkn @kromkens It should already support ADFS.  You will need to pass 'false' to the validateAuthority parameter of the AuthenticationContext, however.

[2015-10-09 18:47] RandalliLama commented on #13
@weijjia It should have no trouble supporting the China instance.  Please let us know if it does not.

[2015-10-09 18:47] #13 closed

[2015-10-09 19:09] RandalliLama commented on #14
@fw224 Was the Company Portal app installed on the device where this repros?

[2015-10-09 19:30] RandalliLama commented on #20
Please see #12

[2015-10-09 19:30] #20 closed

[2015-10-23 08:59] DeBiese opened #21 "How about a logout function?"
The plugin currently provides ways to login, but how about logout? We all use applications on our smartphone, most of those provide a logout functionality, no?

[2015-10-26 17:16] BartVDACodeware commented on #14
Same issue here. On iOS it is working, on android the type cast exception occurs
The company portal app is indeed installed on the device

[2015-10-27 14:48] karthikSwaminithan opened #22 "How to use Company Active Directory?"
I am new to Active Directory and we have a requirement that is we need to consume client's active directory in mobile how to move about. Can you please explain the steps to be followed in order to consume active directory in mobile.

Thanks

[2015-10-30 03:53] yucaowang commented on #14
+1
Any update on this bug? After uninstalled Company Portal it won't repro. Anyone knows the root cause?

[2015-10-31 22:27] RandalliLama commented on #14
FYI @weijjia

I think issue here is that if the Company Portal is installed then the Android version of ADAL uses that to get tokens.  The cordova version of ADAL depends on the Android version of ADAL.  When Android ADAL talks the Company Portal a different object type that the Cordova version of ADAL isn't prepared to deal with causes a crash.

We've seen this issue in at least one other context

[2015-11-04 07:22] weijjia commented on #14
@RandalliLama Sorry I just saw the issue. For the crash stack trace, I don't think it even starts to talk to company portal. It looks like the crash happens inside the readTokenCacheItems, which contains the authContext.getCache. In android version of ADAL, the getCache method will check if we can switch to broker, it seems in this particular case, the existence of Company Portal makes adal-androi

[2015-11-09 08:21] sgrebnov commented on #16
+1, same issue when using Node v0.10.32, Cordova@5.4.0 and cordova-ios@3.9.2; sent PR#23 with the fix

[2015-11-09 08:49] sgrebnov commented on #21
I think this could be done using `authContext.tokenCache.clear()`

[2015-11-09 08:52] sgrebnov commented on #22
The following sample and documentation might be useful for you
https://github.com/AzureAD/azure-activedirectory-library-for-cordova

[2015-11-09 08:58] sgrebnov commented on #11
PS. I believe starting from cordova-android@4.1.0 platform already uses minSdkVersion 14 so `afterPluginInstall-android.js` is not required anymore at all. (if you don't plan to use this plugin w/ older versions)

[2015-11-10 09:46] sgrebnov commented on #2
`target-dir` support has been added so hooks could be removed in favor of this attribute

[2015-11-19 23:15] danyoel commented on #14
Also seeing this issue on a WP8.1 device, but not the emulator. Packaging is Windows Universal app.
[code]
The relevant line, as @RandalliLama and @weijjia suggest, is reading the token cache:
[code]

[2015-11-24 23:11] Cage10 opened #26 "implementing the plugin in Ionic"
Hello,
I am trying to implement it in the Ionic framework. I can't get it to work - after installation, I get the "Error: Microsoft is not defined". I suppose I have to inject some dependency to the controller, but what exactly?

[2015-11-26 20:38] tavikukko commented on #26
Hi, are you running it in browser (ionic serve)? that will not work cos ionic serve will not load cordova.js. Try running it in emulator (eg. ionic emulate ios). Also use $window.Microsoft.ADAL.. If that does not work, wrap the $ionicPlatform.ready(function() {
// your code here $window.Microsoft...
}; around the function call.

also you can add browser as a platform ionic platform add browser and

[2015-12-02 15:19] gregor-srdic commented on #26
$ionicPlatform.ready worked for me on this issue, thanks!

[2015-12-05 02:45] dwheelerjr commented on #15
This still seems to be a bug. I am having the same issue in VS 2015. If I remove ADAL no error. Anyone find a work around or is there a fix somewhere yet?

[2015-12-11 14:44] #14 closed

[2015-12-14 14:07] Cage10 commented on #26
It worked, thanks a lot!
Tip for everyone considering using ADAL AngularJS on a mobile app instead - don't. There are a lot of problems on emulator / device, when "http" changes to "file".

[2015-12-30 03:56] cmicoe opened #28 "Token expiring in less then 30 seconds"
I am using this plugin and successfully created authentication context and acquiring token. But the token is expires in just seconds. How can I get the token which is valid for few hours or minutes.
I am using latest Cordova 5.4.1 version

[2016-01-11 20:55] jsiegmund opened #29 "Weird authflow issue on sample"
I've built the sample (https://github.com/Azure-Samples/active-directory-cordova-multitarget) and tried it. When I perform a search, the login windows pops up. I choose "login with a Microsoft account" because I'm using my Microsoft account for Azure. The other login screen appears and I enter my credentials, after which it asks for the verification code on my phone. Now after what I believe to be

[2016-01-14 22:32] GaryMcAllister opened #30 "Issue mapping displayName from context on Windows Phone 8.1"
The line below in the ADALProxy returns a WinJS error causing a failure.

displayName = mapUserUniqueIdToDisplayName(context, userId);

I am writing a Windows Universal Phone App on Windows Phone 8.1 Update 2.

WinRTError: No such interface supported

System.InvalidCastException: Specified cast is not valid.
   at System.StubHelpers.InterfaceMarshaler.ConvertToNative(Object objSrc, IntPtr itfMT, I

[2016-01-26 13:36] DeBiese commented on #21
I'm sorry for leaving this open for so long. You are absolutely right. Clearing the tokencache will result in the logout.

[2016-01-26 13:36] #21 closed

[2016-01-27 19:40] Dismissile opened #31 "Issue signing in with Personal Account"
I have an Azure Tenant set up from my MSDN account which is name@company.com
My tenant was created automatically when I signed up for my Azure benefits as namecompany.onmicrosoft.com

- I also have an Office 365 account (Org ID) with the same email as my Personal account.
- When I run the default sample it will redirect me to the microsoft login.
- I type my email and focus to the password field.

[2016-02-04 18:28] myusrn opened #32 "is this repo the source for cordova-plugin-ms-adal"
in the https://github.com/Azure-Samples/active-directory-cordova-multitarget sample it outlines using this repo, i.e.
git clone https://github.com/AzureAD/azure-activedirectory-library-for-cordova.git [d:\src\repos\]azure-activedirectory-library-for-cordova, as source for enabling adal cordova plugin in vs15upd1 cordovaUpd5, aka taco, project environment.

I'm finding that when i visit vs15upd1 co

[2016-02-04 23:55] CarlosMAguilar opened #33 "Uncaught SecurityError: Failed to execute 'openDatabase' on 'Window': Access to the WebDatabase API is denied in this context."
I have this project where Users can log in using Azure AD authentication, the app retrieves the token, but, it seems that opening the authentication window changes the app's window object in some way and after that a cannot navigate to any other page in my app because when I try to open database, this error occurs : "Uncaught SecurityError: Failed to execute 'openDatabase' on 'Window': Access to t

[2016-02-05 00:25] CarlosMAguilar commented on #33
Modifying code and running inside
"this.cordova.getActivity().runOnUiThread(new Runnable() {..."
didn't help

[2016-02-09 07:43] jsiegmund opened #34 "Authentication not working"
I'm having issues doing authentication in the first place. Library redirects to Azure, I log in using MSA and then get returned back but according to the library the authentication failed (which it didn't).

Referring to http://stackoverflow.com/questions/35078656/cordova-app-using-angular-adal?noredirect=1#comment58272778_35078656 for detail. I just cannot get it to work, not even the sample prov

[2016-02-09 13:27] jsiegmund commented on #34
Nvm, solved. The issue was on the Azure AD side where you need to specify "native application" as application type instead of the web application I created instead.

[2016-02-09 13:27] #34 closed

[2016-02-10 13:14] candril opened #35 "acquireTokenSilentAsync fails to return a token after a successful login"
We've created a sample application following [Integrate Azure AD with an Apache Cordova app](https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-cordova/) and replaced the AAD app configuratin with our own.

We are able to get a working token by calling `context.acquireTokenAsync` and no errors are thrown. After a successful login we expect that `context.acquir

[2016-02-10 19:41] arthuryegiazaryan opened #36 "Cordova ADAL Azure AD acquireTokenAsync fails with certificate error"
I'm getting a certificate error which I outlined in [this stackoverflow article](http://stackoverflow.com/questions/35323960/cordova-adal-azure-ad-acquiretokenasync-fails-with-certificate-error).  Can the git community please help me figure this out?

[2016-02-11 09:13] sgrebnov commented on #33
@CarlosMAguilar - could you please post any simple code snippet which could be used to verify this case?

[2016-02-11 09:18] sgrebnov commented on #32
Confirm this. Please note, you may have slightly different code as we could add more changes to the repository after npm release

[2016-02-11 09:18] #32 closed

[2016-02-11 09:24] sgrebnov commented on #31
Hi @Dismissile, on which cordova platform do you see this?

[2016-02-11 09:27] sgrebnov commented on #29
Hey @jsiegmund which platform is it?

[2016-02-11 09:34] sgrebnov commented on #28
Hey @cmicoe
* Do you refer to information stored in `authenticationResult.expiresOn` field returned in success promise?
* Which platform is it? Does it work the same on other platforms?

[2016-02-11 09:35] #26 closed

[2016-02-11 09:36] #22 closed

[2016-02-11 09:38] sgrebnov commented on #19
Thank you for the tip, closing as no action items are required (I will see we could add this to docs)

[2016-02-11 09:38] #19 closed

[2016-02-11 09:44] jsiegmund commented on #29
Hi @sgrebnov. I'm sorry as I lost track of this one. It can be closed, it was my own mistake. I found out that instead of using the "web application" type application in Azure AD (as I thought was right because this is html / javascript and all), you need to choose "native" instead. I guess since Cordova compiles things to native code which then runs on the phone it does make sense.

The above wou

[2016-02-11 09:44] #29 closed

[2016-02-11 11:01] cmicoe commented on #28
Hi @sgrebnov ,

Please find the details about the Token Expiry below.

   {
      [functions]: ,
      __proto__: { },
      accessToken: "eyJXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
      accessTokenType: "Bearer",
      expiresOn: [date] Thu Feb 11 2016 17:26:13 GMT+0530 (India Standard Time),
      idToken: "eyJ0XXXXXXXXXXXXXXXXXXXXXXXXXXXX.",
      isMu

[2016-02-11 11:11] #16 closed

[2016-02-11 11:33] sgrebnov commented on #28
Similar situation is explained here
https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-cordova/#comment-2444775114

[2016-02-11 11:35] sgrebnov commented on #28
Does received token continue to work after that? Could you please explain real impact on the app.

[2016-02-11 11:48] sgrebnov opened #37 "Sample: don't install android platform using commit"
Installing android version from commit is not required anymore and may causes extra issues as old android version is used

https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-cordova/
[code]

[2016-02-11 12:09] cmicoe commented on #28
Well we are capturing two tokens one using adal-angular.js for webAPI and ADAL Plugin for mobile clients.

Token obtained for WEBAPI through ADAL-ANGULAR.JS is working as expected and getting validated for authorization where as the token obtained using CORDOVA ADAL Plugin for windows is not getting validated for further authentication. Shared Token details are from CORDOVA ADAL Plugin.

[2016-02-11 14:18] sgrebnov commented on #35
Confirm this issue, `ADALiOS.entitlements` file is not added to `Code Signing Entitlements` setting during plugin install so `$(AppIdentifierPrefix)com.microsoft.adalcache`  is not in keychain sharing group so token cache could not be updated. Manually adding this setting fixes this issue so manual and auto-tests pass. Looks like regression due to recent cordova or cordova-ios changes, investigati

[2016-02-11 14:19] candril commented on #35
After further investigations I've found that the CODE_SIGN_ENTITLEMENTS are not correctly set in the xcode project.

It seems that the project.pbxproj file is not updated from the hook script, but only if the plugin has been added before the platform:

**Hook script works:**

1. `cordova platform add ios`
2. `cordova plugin add cordova-plugin-ms-adal`

**Hook script fails:**

2. `cordova plugin ad

[2016-02-11 14:23] candril commented on #35
Another issue I found is that the hook script `configureEntitlementsIos.js` fails without an error on node version 5.6.0. It works fine on 0.12.7.

Installed versions:

[code]

[2016-02-11 14:25] sgrebnov opened #38 "ios: hook script configureEntitlementsIos.js fails without an error on node version 5.6.0"

[2016-02-11 14:26] sgrebnov commented on #35
Thank you for reporting this - I'll take a look, created separate issue to make sure this is fixed https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/38

[2016-02-11 14:33] sgrebnov commented on #35
Looks like the following does not work anymore as we've recently switched to platform api for ios
[code]

[2016-02-11 14:34] candril commented on #35
Thanks!

Not sure if this is still related.
When building the project I now run into:

The file is in place `platforms/ios/<projectname>/Resources/ADALiOS.entitlements`.

I'll do further investigations.

[2016-02-11 14:45] Dismissile commented on #31
Hi @sgrebnov. I believe I have found out why this wasn't working. Based on the following SO post: http://stackoverflow.com/questions/35064827/azure-ad-authentication-issue-in-cordova-plugin I was able to determine that the problem was trying to use a Live ID with the /common endpoint.

[2016-02-11 14:59] sgrebnov commented on #35
I have a fix, will submit it after making it working on both pre- and post- platform api feature and additional tests

[2016-02-11 15:24] sgrebnov commented on #35
@candril I've pushed fix for this issue to repo master, pls let me know if it works for you..

[2016-02-11 15:29] sgrebnov commented on #29
Great to hear you've solved your problem, we will see how to improve documentation to highlight this.

[2016-02-11 15:34] sgrebnov commented on #31
Thank you for the details, I'm closing this issue then

[2016-02-11 15:34] #31 closed

[2016-02-11 16:10] candril commented on #35
The latest version works. Thanks @sgrebnov!

This error is not related and no longer reproduceable...

[2016-02-11 16:55] #35 closed

[2016-02-11 17:13] sgrebnov opened #39 "VSCodovaTools 2015: “platforms\android\cordova\clean.bat” exited with code 1"
http://stackoverflow.com/questions/35344665/visual-studio-2015-adal-for-cordova-plugin-causes-error-the-command-platforms

[2016-02-11 20:09] CarlosMAguilar commented on #33
hi.
I have reproduced this issue with this considerations:
Phone and OS as follows

![screenshot_2016-02-11-13-32-55](https://cloud.githubusercontent.com/assets/17074977/12987994/566842d2-d0c4-11e5-9500-8d5f8716a9be.png)

Application: multipage (Login page and more modules)

I have done a simple test as follows:

in page 1, invoke with a button:

`
function testAdal(){
	/*test database connection*

[2016-02-12 06:36] #38 closed

[2016-02-12 08:58] Vital-k commented on #30
any update on this one? :) got the same on windows emulator

[2016-02-12 09:12] sgrebnov commented on #11
Taking into account we still support `cordova-android@4.0` which uses older min sdk version we still need this functionality. You can always set required min sdk version for Android via `config.xml` (hook script  don't override this setting if it presents).
I'll update this after we drop cordova-android < 4.1 support

[2016-02-12 09:12] #11 closed

[2016-02-12 09:15] sgrebnov commented on #30
I plan to take a look on this today! Will keep you updated

[2016-02-12 09:53] sgrebnov commented on #15
I've just tried to build blank app (created using Tools for Apache Cordova (Update6) from VS 2015 Update1) with ADAL plugin and it seems to work.

Could you please
0. Specify cordova version used by the app
 *  `cordova --version && cordova platforms` (if you build command line)
 *  VS settings if you build from Visual Studio
![image](https://cloud.githubusercontent.com/assets/981580/13003535/2841

[2016-02-12 10:00] Vital-k commented on #30
super! thanks!

[2016-02-12 10:08] sgrebnov commented on #39
Full log
[code]

[2016-02-12 10:28] sgrebnov commented on #39
Looks like to be some Android dev tools configuration issue, waiting for response...

[2016-02-12 11:51] sgrebnov opened #40 ""pre_package" hook is deprecated"
"pre_package" hook is deprecated and will be removed in next Windows platform versions. Please use "after_prepare" (or another appropriate hook)

[2016-02-12 11:53] sgrebnov commented on #30
Could be related issue: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/14#issuecomment-158230254

[2016-02-12 13:09] sgrebnov commented on #30
I can see this when I target `arm` architecture and everything works correct when I run app as `anycpu` on the same deive
[code]

[2016-02-12 13:10] sgrebnov commented on #30
@GaryMcAllister , could you please specify whether you are using VSCordovaTools to run the app or command line...

[2016-02-12 13:31] GaryMcAllister commented on #30
Cordova Tools but the error is experienced once deployed.

I commented the line out and all was well (I hope). :-S

[2016-02-12 13:48] sgrebnov commented on #30
VS2015 Cordova Tools automatically build and run app under `arm` when deploying to WP 8.1 device.

In a mean time as possible workaround you can try the following (while I'm working on general fix, as it could take some time):

1. Use emulator
2. Open generated `windows` project (<your app>\platforms\windows\CordovaApp.sln), select Windows Phone 8.1 project as start up and run on device under anyc

[2016-02-12 13:50] sgrebnov commented on #30
PS. Great you have another workaround (commenting line(s) ) as well. :)

[2016-02-12 13:59] GaryMcAllister commented on #30
Great! Thanks :-)

[2016-02-12 15:07] Vital-k commented on #30
commenting line doesn't help in my case... just silent break in another place...

[2016-02-15 11:08] Prince08Lamba opened #41 "Plugin doesn't allow me to signout on Android 5.0 and 5.1"
ms-ADAL Plugin doesn't works for Android 5.0 and 5.1 . Please help me out

[2016-02-15 12:59] sgrebnov commented on #41
Hey @Prince08Lamba, could you please describe the problem in more details

[2016-02-15 13:28] Vital-k commented on #30
Any news on when it is could be solve? we would like to release our app next week :-) will be really nice if we can do it for windows phone as well :)

[2016-02-15 15:02] sgrebnov commented on #39
That was Android dev env configuration issue
http://stackoverflow.com/questions/35344665/visual-studio-2015-adal-for-cordova-plugin-causes-error-the-command-platforms?noredirect=1#comment58435683_35344665

[2016-02-15 15:03] #39 closed

[2016-02-15 17:17] Prince08Lamba commented on #41
Hey @sgrebnov Acutally when i login in my account and acquire token successfully and then again if i click on aquire token  and try to login with different account and click on forgot password and then click on back button it again give me token of old logged in account
![save1](https://cloud.githubusercontent.com/assets/14884622/13055541/eaf384c4-d435-11e5-9c0e-8993f69e0545.jpg)
![save2](https://

[2016-02-15 17:22] Prince08Lamba commented on #41
hey @sgrebnov as shown above is there is any way removed signed in Accounts so that they always need password for token .Thanks in advance

[2016-02-15 18:40] Prince08Lamba commented on #21
authContext.tokenCache.clear() removes token from app side but it stays logged in on azure side

[2016-02-17 13:22] sgrebnov commented on #15
Closing as this issue does not have enough details, feel free to re-open with more information if this is still actual.

[2016-02-17 13:22] #15 closed

[2016-02-17 14:42] sgrebnov commented on #30
Hi @Vital-k, I'm working on this but looks like it is tricky issue related to ADAL native library (just tried the latest version and see the same issue) and msbuild14, another person has already looked on this some time ago (https://github.com/AzureAD/azure-activedirectory-library-for-cordova/compare/master...daserge:arm-fix?expand=1).

Temporary workarounds suggested
1)	An app could be either bui

[2016-02-17 15:35] sgrebnov commented on #30
I found out that if I change the following ADAL lib file to return Array instead of List, then the code works fine.

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.Common/TokenCache.cs#L217

[2016-02-17 16:28] sgrebnov commented on #30
Looks like the issue is similar to what is described here, the same workaround creating a new type for `IEnumerable` work. Since it does not change public api signature, I'll re-compile the lib using this approach, run auto-tests and update code (if tests pass).

https://social.msdn.microsoft.com/Forums/windowsapps/en-US/16fa4316-d0ae-4aca-ac70-9946c6cc4dfb/ngend-dll-throws-exception-but-winmd-doe

[2016-02-17 20:03] #30 closed

[2016-02-18 06:45] sgrebnov opened #42 "Improve documentation in repo home"
* [x] Main example should be complete, you should be able to copy/paste it and it should work
* [x] Update `Supported platforms` section (+Windows 10)
* [x] Api (methods description/signatures)
* [x] acquireTokenAsync prompt behavior (Always vs Auto which is used by native components)
* [x] Recommendations for signout

[2016-02-18 08:02] sgrebnov commented on #36
Vittorio  replied on stackoverflow, waiting for response
http://stackoverflow.com/a/35348215/255654

[2016-02-18 08:06] sgrebnov commented on #41
Thank you for the details, I'll take a look once I have a chance.

[2016-02-19 06:17] Prince08Lamba commented on #41
Thanks @sgrebnov. I will wait for your reply .Thanks In advance

[2016-02-19 09:59] sgrebnov commented on #41
Could you please try using `authContext.tokenCache.clear()` to see if it can help

[2016-02-22 05:53] Prince08Lamba commented on #41
@sgrebnov authContext.tokenCache.clear() removes token from clientSide (My App side) but cache is on Azure Side .So how i can remove cache from Azure AD side

[2016-02-22 10:38] mahmoudabogwella opened #43 "ADAL not working in Arabic Device Language Android"
Hello ,
 i cannot login with ADAL when Device Language is Arabic , plugin always delete authentication token and login page open again . kindly note that same code works fine in Android when device language is English.

[2016-02-22 23:34] Chuxel opened #44 "ADAL native libraries are out of date"
ADAL Android appears to reference 1.1.1 while 1.1.12 is current. I suspect iOS and Windows are also out of date.

We should update to the latest versions of the native libraries for the plugin given it entirely depends on the underlying native implementations of the ADAL libraries.

[2016-02-23 13:29] GaryMcAllister commented on #30
Thanks Sergey!

Well done :-)

[2016-02-24 09:13] sgrebnov commented on #44
@vladimir-kotikov could you please help wrt Android and iOS. Windows is already up to date (updated a few days ago)

[2016-02-24 18:49] SPDoctor opened #45 "Windows Phone 8.1 build fails to deploy from Visual Studio."
When using version 0.6.2 of the plug-in I am seeing an error "Error : DEP6810 : MdilXapCompile.exe failed with error code 2001" when I try to deploy to Windows Phone 8.1. All other platforms seem to deploy correctly (including Windows 10 phone). I am using VS2015 with the latest update of the tools for Apache Cordova and the error is in the main project when I try to deploy to phone.

If I drill d

[2016-02-25 10:52] yucaowang opened #46 "Failed to login if on a company portal enrolled android device."
Hi,

I tried the plugin on a company portal enrolled android device, but AAD login failed with error:

V/BasicWebViewClientonPageStarted(25118): 2016-02-25 09:02:09-null-page is started with the url urn:ietf:wg:oauth:2.0:oob?code=AAABAAAAiL...&state=YT1odHRwczovL2xvZ2luLndpbmRvd3MubmV0L2NvbW1vbiZyPWh0dHBzOi8vbWFuYWdlbWVudC5jb3JlLndpbmRvd3MubmV0Lw&session_state=a3c44a8f-555c-453e-b9b1-5411bf2618a2

[2016-02-25 11:29] sgrebnov commented on #45
@SPDoctor, could you please try a clean build? I've tried both VS and command line and it works for me.

[code]

[code]

[2016-02-25 11:31] sgrebnov commented on #45
Also, looks like 0.6.2 version is not on npm yet. Are you using Git url?

[2016-02-25 11:33] sgrebnov commented on #44
Completed (iOS: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/da1f116ae7d96da96e90f184665b43e401164ada, Android: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/64e5563acac90111d39773f3259d072ae1b83e65)

[2016-02-25 11:41] sgrebnov commented on #41
I think you should do `XmlHttpRequest` (or open `InAppBrowser` instance) pointing to the following url.
[code]
http://stackoverflow.com/a/23823129/255654

[2016-02-25 11:44] sgrebnov commented on #41
We had similar signout functionality using XmlHttpRequest but it was removed as application specific and marked as out of scope. We will document this as recommendation on home page as part of the next docs update circle.

[2016-02-25 11:46] sgrebnov commented on #41
Resolving as out of plugin scope

[2016-02-25 11:46] #41 closed

[2016-02-25 11:51] sgrebnov commented on #44
Reopening since there are two different libs for windows are used (netcore45 and wpa) and only one has been updated to the latest.

[2016-02-25 12:09] sgrebnov commented on #44
Updated Windows (netcore45): https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/cf880e78ea0d1b3ba4d069a414925f99e378678e

[2016-02-25 12:09] #44 closed

[2016-02-25 12:22] sgrebnov opened #47 "User needs to login again after the token expires on Android"
As reported here:

https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-cordova/#comment-2529291577

[2016-02-25 13:22] SPDoctor commented on #45
Yes, I got version 0.6.2 from Git URL. Current npm is 0.6.0 although I think it may actually be 0.6.1. I will try another rebuild as you suggest. I find it is often necessary to clean out the bin and platform directories completely as sometimes things get left behind.

[2016-02-25 13:33] SPDoctor commented on #45
@sgrebnov same result. Here's my build output:

`
1>------ Build started: Project: BlankCordovaApp6, Configuration: Debug Windows Phone (Universal) ------
1>  Your environment has been set up for using Node.js 0.12.2 (ia32) and npm.
1>  ------ Ensuring correct global installation of package from source package directory: C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO 14.0\COMMON7\IDE\EXTENSIONS\AP

[2016-02-25 13:39] SPDoctor commented on #45
@sgrebnov Another thing to note is that it is the **deploy** step that fails, the build succeeds.

[2016-02-25 14:21] sgrebnov commented on #45
Could you post log file context here (or as gist) please
'C:\Users\BillAyers\Documents\Visual Studio 2015\Projects\BlankCordovaApp6\BlankCordovaApp6\platforms\windows\build\phone\bld\MDIL\MDILXapCompileLog.txt'

[2016-02-25 14:25] SPDoctor commented on #45
[MDILXapCompileLog.txt](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/files/146653/MDILXapCompileLog.txt)

[2016-02-25 14:42] sgrebnov commented on #45
Can't repro, assume you see this in newly created Cordova app with ADAL added as well, pls confirm.

Related error in log file
[code]

[2016-02-25 15:40] SPDoctor commented on #45
Yes, I have removed and added ADAL a few times. I can create a project and it deploys fine until I add the v0.6.2 plugin. Remove plugin (leaving behind whitelist) and it deploys again.

Odd thing is the platform project deploys if you open its solution file. I'm on VS 2015 update 1 with Cordova Tools update 5.

[2016-02-25 16:04] SPDoctor commented on #45
Further tests: it deploys successfully to the Win Phone 8.1 emulator, only fails when you deploy to actual Win Phone 8.1 device.

[2016-02-25 20:40] SPDoctor commented on #45
@sgrebnov Test solution is at https://github.com/SPDoctor/MicrosoftGraphCordova if that helps.

[2016-02-29 08:10] sgrebnov commented on #45
I'll take a look, thank you!

[2016-02-29 13:54] sgrebnov commented on #46
Yeah, there is the following setting to manage such behavior, but it is not currently available from cordova
[code]
I'll take a look
(some related info is available as _Microsoft Intune's Company portal app_ [here](https://github.com/AzureAD/azure-activedirectory-library-for-android)).

[2016-02-29 13:57] sgrebnov commented on #46
PS. On windows there is special `adal-use-corporate-network` setting

[2016-03-01 11:44] sgrebnov commented on #47
I'm looking on the native ADAL documentation and this should work out of the box when calling `acquireTokenSilentAsync`

https://github.com/AzureAD/azure-activedirectory-library-for-android/blob/a7d79ab123d95238d1e9405f99f0696c5d8a298e/src/src/com/microsoft/aad/adal/AuthenticationContext.java#L627

[code]

[2016-03-01 14:13] sgrebnov commented on #47
I've increased ADAL lib verbosity (`        Logger.getInstance().setLogLevel(Logger.LogLevel.Verbose);`) and changed device time and profiled `acquireTokenSilentAsync` call.

Everything seems to be correct, I can see that accessToken is expired and refresh token is used to update token.
[code]

[2016-03-01 14:15] sgrebnov commented on #47
Closing as no repro (the author has also managed to get the app working  using another lib so no further help is required).

[2016-03-01 14:15] #47 closed

[2016-03-01 14:18] sgrebnov commented on #36
Looks like the problem is not actual anymore (as per StackOverflow), closing...

[2016-03-01 14:18] #36 closed

[2016-03-01 16:09] sgrebnov commented on #46
I'm trying to verify this case, but `public boolean canSwitchToBroker()`  ADAL native method always returns false so default local flow is used and works correct. This happens due to [verifyManifestPermissions](https://github.com/AzureAD/azure-activedirectory-library-for-android/blob/662c2a8c49304d09200ed7f2b3fb7c76e3475ae5/src/src/com/microsoft/aad/adal/BrokerProxy.java#L107) test does not pass d

[2016-03-01 16:37] sgrebnov commented on #46
I've fixed permission problem by setting older target sdk version, here are my test results:
1. Company portal auth dialog is showed
2. If I enter my MS credentials then I navigate to company site and authentication flow never finishes.
3. If I enter my test credentials then I cannot pass auth dialog (incorrect user ID or password)

[2016-03-01 16:38] sgrebnov commented on #46
@yucaowang  please describe your app settings/experiments in more details. Do you pass authentication through company portal app?

[2016-03-02 07:50] yucaowang commented on #46
Hi @sgrebnov , For the redirect URL, I generated a redirect URL for our app using the Powershell script from ADAL Android github, but another issue occurred which caused Company Portal crashing after login on AAD page. Any idea? Please see log snippet below:

V/BasicWebViewClientonPageStarted( 9387): 2016-03-02 05:49:57-null-page is started with the url msauth://com.our.app.package.name/B81MO2ZeSA

[2016-03-03 08:36] sgrebnov commented on #37
There is a PR to azure-content covering this...

[2016-03-03 08:36] #37 closed

[2016-03-03 09:40] sgrebnov commented on #45
I've reproduced this issue on another machine, working on fix...
[code]

[2016-03-03 14:05] SPDoctor commented on #45
That error message looks as though it might be a different issue...

[2016-03-03 17:57] sgrebnov commented on #43
Just tried this on both device and emulator and it worked for me well. @mahmoudabogwella, please describe your test environment and steps in more details:
* cordova version
* android platform version
* ADAL plugin version (we've recently upgraded ADAL native libraries for Android platform so this could be already fixed in the latest cordova version)
* test device model/version
* steps to reproduce

[2016-03-07 08:52] sgrebnov commented on #45
Yeah, the message is different, but I see this only when using new plugin version (w/ re-compiled ADAL lib). Tried re-building ADAL SDK in different configurations (debug/release, sign options), didn't help. It could be a problem w/ my dev tools, going to try re-building the lib on another machine and using different msbuild version - msbuild12) PS - I'm currently OOF, until Wed.

[2016-03-07 08:57] sgrebnov commented on #45
Another difference is that it seems to work fine in `anycpu` for you, but in my case it does NOT work in both `anycpu` and `arm`

[2016-03-07 09:05] SPDoctor commented on #45
Thanks for continuing to investigate. I was using the Windows Phone target and Windows version set to 8.1.

[2016-03-07 10:14] sgrebnov commented on #45
I see [here](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/d0b940d2-1c4e-4f28-9130-b45067088aa1/wp81-arm-deploying-to-device-problem-dep6810-in-release-mode?forum=wpdevelop) our two errors for the same problem.

[2016-03-07 10:18] sgrebnov commented on #45
Looks like I found the problem and was able to get it working on my machine, could you please verify it on your side as well? The patch has been temporary submitted to `fix-wp81-deploy` branch.

To install it you can specify the following link when installing from Visual Studio
[code]

[2016-03-07 10:45] SPDoctor commented on #45
Working :-D

[2016-03-07 10:47] sgrebnov commented on #45
Awesome, thanks a lot for verification!

[2016-03-07 10:47] SPDoctor commented on #45
Just one thing: Plugins -> Custom -> Git didn't work for me with that link: I had to download the plugin and use Plugins -> Custom -> Local and find the plugin directory.

[2016-03-07 10:48] SPDoctor commented on #45
Great job! Out of interest, what was the problem? I see you changed an XML file.

[2016-03-07 10:51] SPDoctor commented on #45
Ignore comment about the link - I think a double pasted the URL. Ooops.

[2016-03-07 10:57] sgrebnov commented on #45
There was an issue with assembly _Delay Signin_. I've also verified that produced app/assembly is valid for store submission in arm and anycpu using _Windows App Cert Kit_

[2016-03-07 10:58] sgrebnov commented on #45
Fixed in https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/d36fe7a42f6107446bfa439a4d71184990bb15c5

[2016-03-07 10:58] #45 closed

[2016-03-09 08:08] mahmoudabogwella commented on #43
@sgrebnov
cordova android version  : 5.1.0
ADAL plugin version : 0.6.0
Test device Model : nexus 10
Test Device Android Version : 4.4.2
Steps to reproduce : auth popup is showed and token is  successfully received  but when i use **acquireTokenSilentAsync**  open auth popup again . and not be able to do any thing else .

Thanks,

[2016-03-11 11:05] RobDaPraia opened #49 "Request for help silent login cordova app start page"
I'm building a small app to test adal cordova and wanted to create an app  with start page with button to login in Azure, but also silent sign-in when token is already in cache. I took the Cordova-Calendar-App-Code-Sample with O365 authentication as basis for my app.

The button with login works fine, but I don't get the silent login, triggered by the controller at startup  working. I get the erro

[2016-03-12 13:56] SPDoctor opened #50 "acquireTokenAsync always prompting for sign-on"
In AuthenticationContext.js the comment states that the function

[code]

When I test this it always requests authentication. If I follow the code path on, say, Windows 8.1 I notice it sets Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior.always in ADALProxy.js. Also in e.g. CordovaAdalPlugin.java, it sets PromptBehavior SHOW_PROMPT_ALWAYS = PromptBehavior.Always. I suggest that in b

[2016-03-14 13:25] SPDoctor commented on #50
Please see pull request `Changed PromptBehavior from "always" to "auto" #51`. I think this fixes the issue for Windows platform implementation.

[2016-03-14 14:42] sgrebnov commented on #42
4. acquireTokenAsync default prompt behavior  (Always vs Auto which is used by native components)

[2016-03-14 14:58] SPDoctor commented on #42
Sergei, here is a link to Vittorio's blog where he explains reasoning behind using acquireTokenSilentAsync and then acquireTokenAsync as fail handler - essentially to be able to deal with Windows Phone continuation callback needed because the app is suspended while the auth UI is shown to the user. http://www.cloudidentity.com/blog/2015/04/06/adal-plugin-for-apache-cordova-deep-dive/

[2016-03-14 15:46] SPDoctor commented on #50
Sergei, please could you look at my suggested code which I have added to the previous pull request. This moves the acquireTokenSilentAsync call inside the plugin and only for the Windows Phone path as this explicit call is only needed for Windows Phone. I think this will also make it possible for the acquireTokenAsync method to be consistent with the documentation, if we want to go that route.

[2016-03-15 09:14] sgrebnov commented on #50
@SPDoctor thank you for the pull request, but `PromptBehaviour,Always` is used by design here (I'll also review comments so ensure they are correct). All of native ADAL libraries are moving toward a design in which AcquireToken is always showing a UX and AcquireTokenSilent never does so.

Adding @vibronet for further clarification here..

PS. Is there any technical reason/problem other then writin

[2016-03-15 09:47] SPDoctor commented on #50
Thanks Sergei. I think the important thing is to be consistent here. So making PromptBehaviour of acquireTokenAsync "always" by default is perfectly satisfactory as long as it is:

- The same with all versions of ADAL libraries.
- The documentation reflects this.
- The sample code always uses this pattern.
- The behaviour is the same regardless of underlying platform.

I see a big risk of confusio

[2016-03-15 09:50] SPDoctor commented on #50
Sorry, one other objection!

This pattern (AcquireTokenSilentAsync, call AcquireTokenAsync on error) could be regarded as a bad coding practice because you are using error handling as part of the normal logic flow.

[2016-03-15 09:59] sgrebnov commented on #49
I think the reason is that you call loginSilently before plugin has been initialized/loaded. You could use `deviceready` event to ensure plugins are loaded:
https://cordova.apache.org/docs/en/6.x/cordova/events/events.deviceready.html

Or bootstrap your angular app after this event is fired: http://stackoverflow.com/a/21556421

[2016-03-15 14:36] sgrebnov commented on #28
Looks like I found the problem
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/www/UserInfo.js#L58
[code]
Actually it should be (code above returns current time)
[code]

[2016-03-15 14:41] sgrebnov commented on #28
But it does not answer the question why token obtained using Cordova is not getting validated for further authentication.

[2016-03-15 14:41] rwdixon69 commented on #46
I am experiencing a similar issue with ADAL 0.6.2 under Company Portal (Intune) for Android devices.  It almost appears that an actual redirect is being attempted to the redirect URI, rather than the return of a Token.  (The configuration works correctly outside of the Company Portal for Android devices and iOS builds are fine both with and without the Company portal....the issue is specific to An

[2016-03-15 15:47] #28 closed

[2016-03-16 06:24] RobDaPraia commented on #49
Thanks a lot! Didn't realize this could be the issue,was searching for solution in the wrong direction. With the links you gave I was able to solve it. So happy it works now:)

[code]

[2016-03-16 06:24] #49 closed

[2016-03-16 13:52] sgrebnov commented on #42
@SPDoctor thank you for the link!

[2016-03-16 13:52] #42 closed

[2016-03-16 14:22] sgrebnov commented on #46
Starting working on this..

[2016-03-16 16:01] sgrebnov commented on #46
Reproduced

[2016-03-16 16:20] rwdixon69 commented on #46
@sgrebnov , that is the exact behavior we are observing.  If you change your redirectURI to be a valid URL, accessible from the phone and app, the authentication process will actually present that web page, rather than returning the token, after a successful login.  It's almost as if the "Web Application" path is being taken, rather than the "Native Client Application" logic.  Please let me know i

[2016-03-16 16:24] sgrebnov commented on #46
I'm going to quickly create a blank android app and give native library a try to make sure this is Cordova specific (if it will work using standard android app)....will keep you updated...

[2016-03-16 17:39] sgrebnov commented on #46
Not sure why, but non of callbacks are fired, investigating this..relocating to home - will be able to continue working on this in a few hrs.. If this is a really blocker and any fix could work then there are two ways to disable broker - you can remove required by blocker permissions from the app or this could be done as separate plugin which just executes single line of code on init: `com.microso

[2016-03-17 03:28] yucaowang commented on #46
@sgrebnov , I agree that the default authentication flow is using broker authenticator if Company Portal is installed, but we'd better expose more APIs of AuthenticationSettings and AuthenticationContext in this cordova plugin.

For this issue:
1. If our app don't need to use broker authenticator, we need AuthenticationSettings.INSTANCE.setSkipBroker(true);
2. If our app need to use broker authent

[2016-03-17 14:02] sgrebnov opened #53 "[Proposal] expose api to enable/disable broker app"
As per discussion in https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/46:
If application is not configured to support broker app (requires special redirect uri format) and company app is installed on Android then the plugin is unable to pass authentication. It will be great to have a way to skip broker.

Alternatives:
1. Introduce `config.xml` setting, for example `skipB

[2016-03-17 14:18] sgrebnov commented on #46
I've created new ticket to continue discussing special option for broker:
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/53

I don't see any difference on what cordova and standard android app return in case of company app is installed, but Azure AD Application is not configured for broker support (no special redirect uri): `Error info:Error Code:-2 net::ERR_NAME_NOT_R

[2016-03-17 16:03] sgrebnov commented on #43
Hey @mahmoudabogwella, I was able to reproduce this. The issue appears to be in native ADAL library for android we use, I've reported the following issue: https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/549

[2016-03-20 19:27] GaryMcAllister opened #54 "Cache is always empty on Windows Phone 8.1 update 2"
Cache is never populated on Windows Phone 8.2 following successful login.

After successful login the token cache is empty.

[2016-03-20 19:28] GaryMcAllister commented on #54
I have created a Windows universal app

[2016-03-21 14:56] sgrebnov commented on #54
What plugin version do you use? Are you testing on real device or emulator?

[2016-03-21 21:18] GaryMcAllister commented on #54
I am using 0.6.2 and a real windows phone

[2016-03-22 05:01] myusrn commented on #21
@Prince08Lamba elsewhere I was referred to this adal for cordova readme section [ https://github.com/AzureAD/azure-activedirectory-library-for-cordova#how-to-sign-out ] that contains details of url to call with xhr or inappbrowser in order clear aad sts issued single signon [ sso ] cookie.

With that cleared users will be prompted form credentials during subsequent oauth signin flows vs it being s

[2016-03-22 07:30] sgrebnov commented on #46
I’ve finally correctly set up test application with broker auth support and don’t see anything wrong w/ Cordova app. The only small thing I’ve added to config.xml is the following line which activates broker (w/o this line ADAL does not use broker due to permission check fail when targeting android-23). But this should not be the case as other people see Company Portal login (means broker auth is

[2016-03-22 09:17] SPDoctor commented on #21
The ADAL.JS version of the library has an explicit **logout** function. I assume this deletes the token from AAD.

In practice clearing the tokenCache has the same effect, except that the tokens must surely continue to exist in AAD until they expire. I am sure AAD can cope with very large numbers of tokens and so we can probably live without having an explicit logout method.

[2016-03-24 12:29] mahmoudabogwella commented on #43
Thanks for your support :+1:

[2016-03-25 04:03] chazwoza opened #55 "UserInfo example"
Hi,
After authenticating I want to access various information about the authenticated user. Can you give any examples of how to do this?

In ADALJS, it seems to set up a "UserInfo" object under the root scope which is accessible in my html templates for stuff like "ng-show="userInfo.isAuthenticated".

Is it possible to do the same with ADAL for Cordova?

I can see there is a UserInfo.js file ... b

[2016-03-27 14:47] gleborgne opened #56 "Windows 10 mobile: AuthenticationContext: type is not constructible"
When running on Windows 10 mobile (a 950XL), everything is working fine if debugging with Visual Studio, but if running the app without debug (just launching it on the device), any call to ADAL results in an error "Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext: type is not constructible"

[2016-03-28 14:42] rwdixon69 commented on #46
@sgrebnov , I implemented the custom plugin, which executes the line of code on init:
` com.microsoft.aad.adal.AuthenticationSettings.INSTANCE.setSkipBroker(true); `

This did not have any effect on the behavior that we are seeing, in that the callbacks don't appear to be firing, and an actual URL-based redirect still occurs.

[2016-04-05 18:02] Dismissile opened #57 "Refresh Token is missing on Android 5.0.1"
ADAL for Cordova doesn't seem to be providing a refresh token when a authenticating with my app.

I have two applications set up in my Azure AD:
App 1: set up as Native client application. (
App 2: set up as a Web application.

I am trying to add authentication for App 1  and get a token to call App 2:

var resourceUrl = *APP ID URI for App 2*
var appId = *client id for App 1*
var redirectUrl = *R

[2016-04-11 07:48] GaryMcAllister commented on #54
Any update on this ?...

[2016-04-11 14:42] Klotair commented on #54
Hi, It seems that I got the same error on an Android 4.2.2. My app works fine from android 4.3.1 to the last versions.

I'm using
  "name": "cordova-plugin-ms-adal",
  "version": "0.6.2"

After the user have been logged, when my code reach that lines:
The "items" array is empty, so the login is displayed again.
`
adalContext.tokenCache.readItems().then(function (
                    if (items.leng

[2016-04-12 08:18] sgrebnov commented on #55
To retrieve user info you should make _authContext.acquireTokenSilentAsync_ method call. Information required will be available as part of authentication result (_authResponse.userInfo_), see here:
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blame/8b5664b61d02da58d8876ff3ca9eb528e8778709/README.md#L37

You can also take a look on the following unit tests:
https://github.co

[2016-04-12 08:26] sgrebnov commented on #56
I'll verify this, can you answer the following questions pls

1.  what ADAL plugin version do you use?
2.  what Visual Studio version do you have installed (including update version)
3.  are you using Visual Studio Cordova Tools or command line to create the app

[2016-04-12 08:33] GaryMcAllister commented on #56
As below

Version 0.6.2

2015 update 2

I'm using Cordova tools

[2016-04-12 08:39] daserge opened #58 "SSO plugin doesn't add capabilities to package.windows10.appxmanifest"

[2016-04-12 08:41] sgrebnov commented on #57
Hey @Dismissile, pls clarify the following so that I can investigate this

1. ADAL plugin version you are using
2. Target Cordova platform (iOS, Android or Windows)
3. Are you testing on real device or emulator

PS. May be related to
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/54#issuecomment-208380183
https://github.com/AzureAD/azure-activedirectory-library-for-cor

[2016-04-12 08:58] sgrebnov commented on #58
LGTM

[2016-04-12 08:59] #58 closed

[2016-04-12 09:33] sgrebnov commented on #54
@Klotair,
Looks like caching support for Android Api level 17 and below  (<= 4.2.x) requires some extra work:
https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/80

I'll clarify whether we support those targets.

PS. This answers why 4.3.1 (Api level 18) works

[2016-04-12 13:15] Dismissile commented on #57
1. cordova-plugin-ms-adal 0.6.3-dev
2. Android
3. Real Device - Samsung Galaxy S4

[2016-04-12 19:29] sgrebnov commented on #57
Pls let me know Android version installed on Samsung device. (Looks like we see related issue on devices with Android OS 4.2 and below)

[2016-04-12 19:32] Dismissile commented on #57
It's Android 5.0.1 Lollipop.

[2016-04-15 09:02] sgrebnov opened #60 "Cache is always empty on Android 4.2.x and below"
As reported here:
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/54#issuecomment-208380183

Caching support for Android Api level 17 and below (<= 4.2.x) requires some extra work:
AzureAD/azure-activedirectory-library-for-android#80

[2016-04-15 09:05] sgrebnov commented on #54
@Klotair I've created separate issue below to track this further (after internal discussion we decided to implement missing functionality for Android Api level 15..17 as it is still quite popular)
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/60

@GaryMcAllister I'll start working on this soon, will keep you updated in this thread

[2016-04-15 09:07] sgrebnov commented on #55
@chazwoza, I'm closing this issue as information above should answer your question, feel free to re-open if you still need more help

[2016-04-15 09:07] #55 closed

[2016-04-21 08:10] #60 closed

[2016-04-21 08:16] sgrebnov commented on #53
Added Android specific method to enable broker (it is turned off by default now):
[code]
https://github.com/AzureAD/azure-activedirectory-library-for-cordova#broker-support

[2016-04-21 08:16] #53 closed

[2016-04-21 08:19] sgrebnov commented on #46
The latest plugin version in this repo adds special method to enable broker support (has been turned off by default). See https://github.com/AzureAD/azure-activedirectory-library-for-cordova#broker-support for more details.

Please re-open this issue if this does not work you.

[2016-04-21 08:19] #46 closed

[2016-04-21 08:28] #12 closed

[2016-04-21 08:32] sgrebnov commented on #43
Closing as there is nothing I can do here. I will track this issue in native lib and will update native dependency once this is fixed there.

[2016-04-21 08:32] #43 closed

[2016-04-21 15:54] sgrebnov commented on #57
I've tested plugin on Android L and see that refresh token is returned from server and persisted on device (and then used to update token if I call acquireTokenSilentAsync), but it is NOT exposed to JS as [authenticationResultToJSON](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/src/android/SimpleSerialization.java#L52) contains strict list of what should be expo

[2016-04-21 15:54] #57 closed

[2016-04-22 15:43] sgrebnov commented on #56
I've tried to reproduce this issue on Lumia 1520, Windows Mobile 10 (10.0.10586.122) using VS 2015 Community Update 2, plugin version 0.6.2 and I don't see this problem: after launching application on device without debugger and calling ADAL functions everything worked correct - I've tried creating test app using Cordova CLI and VS Cordova Tools (same result).

Does this repro on blank cordova app

[2016-04-22 15:45] sgrebnov commented on #56
Please confirm you are using Windows10 target to run on Windows Mobile 10, not Windows Phone 8.1

[2016-04-22 15:46] sgrebnov commented on #54
@GaryMcAllister Do you refer to Windows Phone 8.2 or Windows Phone 8.1 Update 2?

[2016-04-22 15:48] GaryMcAllister commented on #56
Windows 8.2, not 10 deployed on a Windows 8.2 phone.

Universal app.

[2016-04-22 15:48] sgrebnov commented on #54
I've just made a quick test on Nokia Lumia 520 WP 8.1 and it seems to work correct. @GaryMcAllister What device do you use for testing?

[2016-04-22 15:49] sgrebnov commented on #33
Confirm this issue (stable repro).

[2016-04-22 15:50] gleborgne commented on #56
I had it when targeting Windows 10, with no special logic other than standard connection. It works on Windows 8.1 devices if I change target

[2016-04-22 15:59] GaryMcAllister commented on #56
Ok Thanks.. Will retest and let you know what my issue is.

[2016-04-22 19:29] GaryMcAllister commented on #54
Phone 8.1 update 2

[2016-04-22 19:30] GaryMcAllister commented on #54
Let me go through my own app testing again and I'll let you know.

Sorry I can't give you clarity immediately

[2016-04-25 18:50] GaryMcAllister commented on #54
Hi, Still not working for me.. Works on iPhone version of the same app.

My device is Lumia 640 LTE, Windows Phone 8.1 Update .

[2016-04-25 18:51] GaryMcAllister commented on #54
`manager.AuthContext.tokenCache.readItems().then(function (cacheItems) {
                    if (cacheItems.length > 0) {
                        testUserId = cacheItems[0].userInfo.userId;
                    }

                    manager.AuthContext.acquireTokenSilentAsync(org.ResourceUrl, org.AppId, testUserId).then(function (authResult) {

                        manager.log("acquired token s

[2016-04-25 19:35] GaryMcAllister commented on #54
Here is the error I am getting when debugging.

WinRTError: No such interface supported

System.InvalidCastException: Specified cast is not valid.
   at System.StubHelpers.InterfaceMarshaler.ConvertToNative(Object objSrc, IntPtr itfMT, IntPtr classMT, Int32 flags)
   at Anonymous function (ms-appx://18707digihealth.digihealth/www/plugins/cordova-plugin-ms-adal/src/windows/ADALProxy.js:209:17)
   a

[2016-04-27 09:13] sgrebnov commented on #54
I've tried to reproduce this issue using your code snippet and it worked for me (Lumia 520 8.1 Update 2).
Here are my ideas how we can triage this further:
* [To detect if this is app or tools version specific]. Does it repro on Visual Studio Windows Phone 8.1 emulator as well?
* [To detect if this is device/OS version specific]. Do you see this issue on other Windows Phone devices (if you have a

[2016-04-27 09:21] sgrebnov commented on #54
This also looks to be identical to https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/30 which was fixed in 0.6.2

[2016-04-27 09:28] sgrebnov commented on #56
@gleborgne still unable to reproduce. I have only  Lumia 1520, Windows Mobile 10 (10.0.10586.122) for testing. Do you still have problem getting this working? If so, could you please try running it on Windows Phone 10 emulator to see if you have repro there as well (if so, it could be tools specific).

[2016-04-27 09:44] sgrebnov commented on #54
@GaryMcAllister, can you try the following steps to ensure you have plugin version w/ appropriate fix:

[code]
PS. For VSCordovaTools: to remove windows platform you can simply remove <your-app>/platforms/windows folder (it will be restored automatically during build); if you have some older version you can remove /bld and /bin folders. This will guarantee clean build.

[2016-04-27 10:00] GaryMcAllister commented on #54
Will do, thanks.

Will try on an alternative device later this week.

[2016-04-29 22:47] ezraroda opened #62 "Compilation error on Android"
Getting the following error 👎

[code]
                                                                                                      ^

Running with the following configuration:

Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.6
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
ios-deploy version:

[2016-05-02 15:04] rwdixon69 commented on #62
I'm seeing this identical error, and am unable to compile for the Android platform.

[2016-05-02 18:44] nikhilkh commented on #62
@riknoll to help investigate

[2016-05-04 22:57] GaryMcAllister opened #65 "How do I switch off authority validation for ADFS usage?"
Is this a supported scenario and can I pass false to the constructor?

As per ADAL wiki Q&A.

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL-.NET-Q-&-A

Thanks

[2016-05-04 23:00] #65 closed

[2016-05-05 14:50] didierjeanson opened #66 "Add validateAuthority flag support when creating AuthenticationContext using constructor"
Sample cordova communicating with an API secured with ADFS (authority=https://myadfsserver/adfs) (built with VS2015 Update2) is working fine with iOS devices.
Same application is not working when **selecting Windows Tablet (8.1/10) or Windows Phone 10 (emulator). When calling app.context.acquireTokenSilentAsync the following error is returned Authority validation is not supported for this type of

[2016-05-05 15:14] yonatan-onoapps commented on #62
explicit cast fixed it

[2016-05-05 23:23] nikhilkh commented on #62
This has been fixed in 0.7.1 version now published on npm

[2016-05-06 13:04] didierjeanson commented on #66
More details on the problem with ADFS and Windows clients.
Turning off Authority validation with Microsoft.ADAL.AuthenticationContext (authority, false) has no effect in Cordova; the ADALProxy.js does not receive the args[1] and use the default value (which is true).
Forcing the value to false (in debug step by step) raise the following exception: The browser based authentication dialog failed to

[2016-05-06 18:03] didierjeanson commented on #66
I found a workaround by forcing the default value of validateAuthority to false in ADALProxy.js (after line 48) for the Windows Platform. I haven't found out why the args[1] is not received.

[2016-05-06 18:56] #62 closed

[2016-05-06 19:00] rwdixon69 commented on #62
I can confirm that the plugin will now compile.  Thank you!

[2016-05-09 12:38] chazwoza opened #67 "Smart Card / Windows Hello / Pin doesn't work"
I'm using smart card authentication and windows hello PIN authentication but neither works. When using ADAL with Cordova, windows doesn't pop up the smart card window.

[2016-05-09 13:06] GaryMcAllister opened #68 "Cache does not empty on ADFS 3.0"
Issue is as follows;

1.0, Login using a cordova app and an oAuth configured ADFS 3.0 server.
2.0, User-info is always null in ADFS so username parameter is irrelevant (added if condition to remove in my implementation).
3.0, Call clear cache to quit login.
4.0, Call the acquireToken (non-silent) again and the application auto-logs in (does not request credentials, is the fedAuth cookie cached in

[2016-05-10 20:47] rwdixon69 commented on #46
@sgrebnov , I can confirm that the resolution to #53 does indeed resolve this issue. Thank you very much for your assistance!

[2016-05-12 10:01] sgrebnov commented on #66
@didierjeanson, please see if `Microsoft.ADAL.AuthenticationContext.createAsync(authority, validateAuthority)` method works for you as there is currently possible to specify validation flag via  this method only.

https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/8b5664b61d02da58d8876ff3ca9eb528e8778709/www/AuthenticationContext.js#L47
[code]

PS.The Microsoft.ADAL.Authenti

[2016-05-12 10:04] GaryMcAllister commented on #66
This works fine for me.

[2016-05-12 11:19] sgrebnov commented on #67
Sounds like some missing capabilities (sharedUserCertificates), could you please try adding the following setting in config.xml and then build/run the app to see if this helps
[code]

This should add the following capabilities:

[code]

[2016-05-12 11:25] sgrebnov commented on #68
Sounds like a bug, acquireToken should ALWAYS prompt for credentials, I'll take a look (should also take a look on the native lib implementation to answer the latest question).

[2016-05-12 11:28] sgrebnov commented on #68
Is it Windows universal app? what version?

[2016-05-12 17:37] GauravMahajanMicrosoft opened #69 "Error: “authentication_ui_failed: The browser based authentication dialog failed to complete. Specified cast is not valid.”"
We are not seeing the login popup on a windows 10 device. Logs have the following error: “authentication_ui_failed: The browser based authentication dialog failed to complete. Specified cast is not valid.”

Adal Plugin version: 0.6.2
Target Platform: Windows 10
SSO option: enabled

[2016-05-13 08:07] sgrebnov commented on #66
After internal discussion the agreement was to add validation flag support when creating AuthenticationContext using constructor as well so that you will be able to pass validateAuthority flag.
[code]

PS. @GaryMcAllister thx for confirming that workaround is working for you!

[2016-05-13 08:11] sgrebnov opened #70 "Add engine tags to specify min cordova platforms versions supported"

[2016-05-13 12:45] chazwoza commented on #67
Hi Sgrebnov, unfortunately adding the preference didn't work... is there somewhere I can add the capabilities directly?

[2016-05-13 13:44] sgrebnov commented on #67
Yes, after adding `windows` platform you can open `<your app>/platforms/windows/CordovaApp.sln` in Visual Studio, then double click on `package.windows10.appxmanifest` (I think you are targeting windows10) and then select `Capabilities` tab.

![image](https://cloud.githubusercontent.com/assets/981580/15249729/cbebe3b2-1929-11e6-9fc4-e9008e7f1c60.png)

After that you can run Windows Phone 8.1 proje

[2016-05-13 15:04] didierjeanson commented on #66
I also confirmed that it works (not using the constructor). I am able to remove the workaround.
Thanks for adding the flag in the constructor in a future release.
@sgrebnov thanks for your help

[2016-05-13 15:04] #66 closed

[2016-05-16 10:26] sgrebnov opened #71 "Task: add Travis and Appveyor tests"
Sanity tests to ensure plugin could be added and built  (Android, iOS, Windows platforms).

[2016-05-17 01:52] faxedhead opened #72 "Support for 'browser' cordova platform"
### Issue Description
Currently this plugin appears to not support the 'browser' cordova platform.  When a browser app is run using this plugin, the plugin is not loaded and the browser shows message:

`'ReferenceError: Microsoft is not defined'`

It would be really helpful to enable support for this platform.  Is this easy to achieve?

### Repro Environment Details
1. Installed plugin version: 0.

[2016-05-17 07:44] tumetus opened #73 "Error: "Error occured while executing native method." with WP8.1 device"
Steps when using the sample application:
1. Tap "create authentication context"
2. Tap "aquire token"
Loading screen appears for few seconds and then goes back to app with error message "Error occured while executing native method.". This only occurs when deployed on a Windows Phone 8.1 device. Plugin and the sample app work fine with emulator, Windows 10 Mobile, Android and iOS devices.

Tested w

[2016-05-18 11:37] sgrebnov commented on #72
The plugin relies on native implementation for each target platform, for _browser_ we can see if we can use [ADAL for JavaScript](https://github.com/AzureAD/azure-activedirectory-library-for-js/). I see that proposed functionality could be valuable, but browser support is currently low priority and there is no defined deadline for this.

[2016-05-18 12:11] SPDoctor commented on #72
For browser target you would need to use implicit flow and this is how ADAL.js does it. I don't see too many plug-ins bothering to support the browser target.

Probably more useful would be support for the Ripple emulator. That requires the "tinyHippos" check and then emulate the native behaviour.

[2016-05-18 14:45] khalidaw opened #74 "Improve error reporting: add error codes, more informative and consistent errors"
### Issue Description
(IOS)

Error is usually null

**No Connection:**
error: null
errorDescription: "The Internet connection appears to be offline."
statusCode: 2

**Auth not right:**
details: Object
error: "invalid_resource"
errorDescription: "AADSTS50001: The application named google was not found in the tenant named campus.technion.ac.il. This can happen if the application ha…"
statusCode: 2

[2016-05-18 18:27] khalidaw commented on #74
Okay, I understood now from code that error is protocol code.

Is there any option to have error.code?

[2016-05-19 10:04] sgrebnov commented on #56
This issue is inactive for a while, please re-open, if the problem is still actual.

[2016-05-19 10:04] #56 closed

[2016-05-19 10:05] sgrebnov commented on #54
This issue is inactive for a while, please re-open, if the problem is still actual.

[2016-05-19 10:05] #54 closed

[2016-05-19 13:57] sgrebnov commented on #69
Looks like this is due to missing capabilities in  windows 10 manifest file which has already been fixed in 0.7.0 (https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/657c3bcabbf7de8f8d2597d3ee93b5377cdc4a7d). Please update plugin version to the latest and see if you still see the problem.

[2016-05-19 14:05] sgrebnov commented on #73
@daserge, could you please clarify the following quirk (if you remember) - does it answers behavior reported - is this error expected or you should see login popup?

[2016-05-19 14:21] sgrebnov commented on #67
@chazwoza did you get a chance to verify required capabilities? What plugin version are you using - I see that there was some issue with missing capabilities on Windows 10 fixed in 0.7.0.

[2016-05-19 14:47] daserge commented on #73
@tumetus, are there any additional details if you set a breakpoint to this line https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/src/windows/ADALProxy.js#L124?
@sgrebnov, the issue on Windows Phone 8.1 & ADFS was initially because of the 2148270105 error ([INET_E_INVALID_CERTIFICATE](https://msdn.microsoft.com/library/ms775145%28v=vs.85%29.aspx)).

[2016-05-20 07:18] tumetus commented on #73
@daserge details of result variable are in the screenshot below.

![result](https://cloud.githubusercontent.com/assets/3472062/15420226/0b7244e6-1e74-11e6-8759-a6be26ed5404.PNG)

[2016-05-20 12:27] chazwoza commented on #67
Tried and it doesn't work - can't figure out how to install v0.7.0. Running "ionic plugin add cordova-plugin-ms-adal" only added v 0.6.2

[2016-05-20 12:31] daserge commented on #67
Can you try `cordova plugin add cordova-plugin-ms-adal`?
It should take the plugin from [npm](https://www.npmjs.com/package/cordova-plugin-ms-adal), and the latest published version now is 0.7.1.

[2016-05-24 17:44] GauravMahajanMicrosoft opened #75 "Logging out in ADAL cordova plugin"
According to the github page, on logout we should also make a xhr call to logout url. However, even calling that we are logged in automatically the next time (silent login fails but acquire does not show a UI and returns the token).

### Repro Environment Details
1. Installed plugin version:  Latest ADAL plugin version: v0.7.1 (30de2ba1f47f7f35c6647049bb78c87993c01360)
2. Target Platform: Windows

[2016-05-25 12:26] Klotair commented on #60
Hi, thanks you for fixing this :)

I tried the 0.7.0 version today and I get this error:

al\CordovaAdalPlugin.java:162: error: incompatible types: List<TokenCacheItem> cannot be converted to ArrayList<TokenCacheIt
em>
                ArrayList<TokenCacheItem> tokensForUserId = ((ITokenStoreQuery)cache).getTokensForUser(userId);

[2016-05-25 12:31] Klotair commented on #60
Hi, thanks for fixing this :)

I tried the 0.7.0 today and I get this error when building an apk :

em>
                ArrayList<TokenCacheItem> tokensForUserId = ((ITokenStoreQuery)cache).getTokensForUser(userId);
                                                                                                      ^
Note: Some input files use or override a deprecated API.
Note: Recompile with -X

[2016-05-25 12:45] Klotair commented on #60
Ok, it seems to work :dancer:
I just fix the java compile error with this lines :

From the line 162 in CordovaAdalPlugin.java
[code]

There is still a bug in the current 0.7.0 version which break the compilation for android.
Thanks

[2016-05-30 09:56] sgrebnov commented on #71
Build configurations have been added; remaining action item here is to enable builds under AzureAD org.

[2016-05-31 10:15] sgrebnov commented on #50
Closing this topic as there is no clarification from @vibronet. I think we are good here as all statements below are true:

 - [x] The behavior is the same regardless of underlying platform.
 - [x] The documentation reflects this.
 - [x] The sample code always uses this pattern.

[2016-05-31 10:15] #50 closed

[2016-05-31 10:54] sgrebnov commented on #2
Added implementation w/o hook: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/74fe14be8ec59af444c56e6c53e384cf47922ea5

[2016-05-31 10:54] #2 closed

[2016-05-31 10:54] sgrebnov commented on #40
Updated: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/7135d0bce97734d7e85365dae8e784e501576997

[2016-05-31 10:54] #40 closed

[2016-05-31 10:55] sgrebnov commented on #70
Done: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/ba47b35dc1b2eccaf63eeafbe3055477892bfb9b

[2016-05-31 10:55] #70 closed

[2016-05-31 13:34] tumetus commented on #73
Any updates on this matter?

[2016-05-31 13:49] daserge commented on #73
@tumetus, try looking into these threads:
https://social.msdn.microsoft.com/Forums/windowsapps/en-US/76f32643-593f-4109-9122-e266594a5444/troubles-with-client-certificates-in-windows-phone-81-webviews?forum=wpdevelop
https://blogs.windows.com/buildingapps/2013/09/06/updating-your-javascript-apps-to-use-the-new-windows-web-http-api/ (not sure whether native or js HttpClient usage will help)

[2016-06-01 10:32] sgrebnov commented on #33
The exact same behavior is reported [here](https://code.google.com/p/android/issues/detail?id=16175&can=1&q=WebView%20database&colspec=ID%20Status%20Priority%20Owner%20Summary%20Stars%20Reporter%20Opened) but it seems to be already resolved in WebView. But I can still see it in conjunction with ADAL native library as reported above. This might be hard to understand issue cause so you can use the f

[2016-06-01 11:16] sgrebnov commented on #74
@khalidaw are you looking for this change across all platforms or iOS only? - I've reviewed what native libraries provide and there is nothing similar to error code available on Android for example, so we won't be able to implement it on all platforms.

As per iOS, we can replace (https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/src/ios/CordovaAdalUtils.m#L46
)
[cod

[2016-06-01 14:21] CarlosMAguilar commented on #33
Thanks for your help. I am still looking for a solution but, so far, I am able to bypass with the workaround. I always check over the internet for changes on this, If I get something I will post it here.

[2016-06-02 10:02] sgrebnov commented on #33
Thanks @CarlosMAguilar

[2016-06-02 17:03] sgrebnov commented on #71
Travis: done;
Appveor: waiting for required Admin permissions to enable build/tests.

[2016-06-08 10:49] tumetus commented on #73
Thanks for your response @daserge ! Unfortunatelly I am not sure if I understand this correctly. So should I make just a plain get request to the authority url before calling aquireToken?

[2016-06-13 06:31] MaartenX opened #77 "'is not a valid Win32 application' error when using plugin on Windows/Windows Mobile 10."
I am trying to get my Cordova app to use AAD, but I cannot get it to work for the Windows/Windows Mobile targets.
When I call the plugin, it will try to call a native method, and I get the error: 'is not a valid Win32 application'. On my phone the error message is: 'The system cannot find the file specified'. This happens with my own app, but also when I run the sample from the 'sample' folder.

R

[2016-06-19 14:42] galvanu opened #78 "Android Permissions"
### Issue Description
According to the plugin.xml file I see that the required permissions by the plugin are:
[code]

the first two are fine but I wonder why the last three are needed?
In addition I look at the [native sdk](https://github.com/AzureAD/azure-activedirectory-library-for-android) and it looks like only the INTERNET and ACCESS_NETWORK_STATE are required?

Can you please give sone info

[2016-06-20 15:11] sgrebnov commented on #78
I believe this was added initially to provide single SSO support (https://github.com/AzureAD/azure-activedirectory-library-for-android#broker).
[code]
Starting from target API 23 those permissions are requested programmatically if user specified `Microsoft.ADAL.AuthenticationSettings.setUseBroker(true)` - https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/src/android/

[2016-06-22 11:08] sgrebnov commented on #77
I've just tried to reproduce the problem following instructions above and don't see this issue; @MaartenX, could you please share generated project (upload project created using instructions below on some online storage) so that I can take a look what could be the reason.
[code]
![image](https://cloud.githubusercontent.com/assets/981580/16264470/844c0884-3882-11e6-94e6-78c747e20440.png)

PS. Same

[2016-06-22 11:15] sgrebnov commented on #74
Closing as there is no response for 3 weeks. @khalidaw please re-open if this is still actual.

[2016-06-22 11:33] sgrebnov commented on #73
Please see some related information regarding WP8.1/SSO support from corresponding group. So looks like the only potential way to fix this is to use HttpClient based trick described [here](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/76f32643-593f-4109-9122-e266594a5444/troubles-with-client-certificates-in-windows-phone-81-webviews?forum=wpdevelop) and [here](Error occured while exec

[2016-06-22 11:33] #73 closed

[2016-06-22 12:41] sgrebnov commented on #69
Please re-open if this is still actual.

[2016-06-22 12:41] #69 closed

[2016-06-22 12:43] sgrebnov commented on #67
Closing as there is no response, please re-open if this is still actual.

[2016-06-22 12:43] #67 closed

[2016-06-22 12:51] sgrebnov commented on #77
Also tested on Windows 10 Mobile Emulator and it seems to work.

![image](https://cloud.githubusercontent.com/assets/981580/16267204/29144076-3891-11e6-81bb-5cd823466c96.png)

[2016-06-22 20:49] khalidaw commented on #74
Hi,

Thanks for the reply :)

Actually we currently support android also, and maybe windows in the future.

I think its good to have a shared interface for errors, for the all platforms, which can return information like:
"AD_USER_CREDENTIALS_IS_NEEDED"

[2016-06-22 21:07] khalidaw opened #79 "Informative errors code"
Hi,

Native libraries for ADAL includes information when errors happens.

for ex: "AD_USER_CREDENTIALS_IS_NEEDED"

Cordova plugin doesn't return this error (only error string which can't rely on)

IOS, Android

Thanks

[2016-06-23 07:49] sgrebnov commented on #74
I'm on the same page to have consistent error codes across all platforms, I will keep this work item open in our internal backlog so that we can improve this in the future; The only thing here is that we rely on native SDKs so corresponding functionality must be added there first (error codes or logic to detect common errors/cases).

[2016-06-23 08:04] sgrebnov commented on #79
I think we should keep all discussions in single/original thread so closing this one on favor of  https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/74

[2016-06-23 08:04] #79 closed

[2016-06-27 10:31] ashwin4av opened #80 "ADAL is not working for first time login in cordova windows 10 platform.."
# ADAL is not working for first time login in cordova windows 10 platform
@tacoadmin @azureAD
We have installed ADAL plugin and while trying to login the bellow error message is coming for first  time login (2 to 3 times) after some time it is login successfully.

Error we are facing is  :

## Repro Environment Details
1. Installed ADAL plugin version: version 0.7.1
2. Target Platform: Windows 10.

[2016-07-04 15:54] sgrebnov commented on #78
Please re-open if you have more questions

[2016-07-04 15:54] #78 closed

[2016-07-04 15:55] sgrebnov commented on #77
Closing as no-repro, please re-open with additional details if this issue is still actual.

[2016-07-04 15:55] #77 closed

[2016-07-06 17:03] RandalliLama opened #81 "Add API that allows apps to report app name and version for telemetry."
It would be helpful to be able to identify which apps have which version of ADAL so that we can identify apps that should be updated.

Do not implement this until we have agreement on the shape of the public API changes.

[2016-07-07 13:12] sgrebnov commented on #80
Unable to reproduce, @ashwin4av could you please verify you have repro using standard sample app as well.

[code]

[2016-07-07 13:20] sgrebnov commented on #81
I've taken a look if JS version provides telemetry so that we re-use the same approach, but looks like it is not there yet:
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/340

Also, @RandalliLama are you interested in single version (for the plugin) or native adal sdks versions?

[2016-07-14 16:26] sgrebnov commented on #80
Please re-open if this is still actual.

[2016-07-14 16:26] #80 closed

[2016-07-18 10:40] sgrebnov commented on #68
Unable to reproduce, is this issue still actual?

[2016-07-18 10:46] GaryMcAllister commented on #68
Will test later and let you know.

Assume you've logged out and tested login process?

[2016-07-19 08:49] sgrebnov commented on #71
Appveyor : done as well (https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/ed337353dff1188bb6dcf26c0c3b1daa7f4b8cb9)

[2016-07-19 08:49] #71 closed

[2016-07-25 11:55] sgrebnov commented on #74
Added logic to report error code from native layer to JS. See [err.code](https://github.com/AzureAD/azure-activedirectory-library-for-cordova#handling-errors). Support of iOS, Android, Windows. Let me know you have any problem

[2016-07-25 11:55] #74 closed

[2016-08-01 18:29] khalidaw opened #84 "User display id looks bad with utf8 characters"
Display id that contains utf8 characters - for example áškhalidáš (czech characters) - is received bad after interactive login:

[
![screen shot 2016-08-01 at 21 27 35](https://cloud.githubusercontent.com/assets/11428454/17304560/db7c6fb0-582e-11e6-99ef-5c3c4917e6ca.png)
](url)

Env: typescript, both IOS and Android

[2016-08-02 07:08] khalidaw commented on #84
Please note that I was able to solve this by UTF8 decoding for the display id, am not sure if you should do this in your code.

[2016-08-02 07:31] sgrebnov commented on #84
Thank you @khalidaw! I'll take a look

[2016-08-05 14:17] sgrebnov commented on #75
Hi @GauravMahajanMicrosoft, I've just tried the following cases (both w/ SSO and w/o SSO enabled) to repro this issue w/o any luck - acquire method shows UI after login/logout sequence.

Test1:
* Create auth context
* Call acquireTokenAsync method
* Enter my credentials
* authContext.tokenCache.clear();
* call XMLHttpRequest
* acquireTokenAsync

Test2:
* Create auth context
* Call acquireTokenAsyn

[2016-08-05 14:52] #72 closed

[2016-08-05 18:19] GauravMahajanMicrosoft commented on #75
Thanks for looking at it Sergey. First of all, this might not be easy to reproduce as I speculate it to be related to some persistent state in WebAuthenticationBroker. One of my machines has this bug repro 100% of the time while another machine (another user) does not repro this at all.

Observation 1:
AcquireTokenSilentAsync fails: So acquireTokenSilentAsync fails. This is a good sign and when I

[2016-08-11 16:39] jospete opened #85 "Hardcoded Oauth2 Extension Causes Azure AD B2C Request To Fail"
### Issue Description
I'm using this plugin in an ionic app to authenticate with Azure AD B2C, but after much trial and error documented by [this stackoverflow post](http://stackoverflow.com/questions/38858059/azure-ad-b2c-sign-in-on-cordova-ionic-app?noredirect=1#comment65085885_38858059), I've come to the conclusion that the hardcoded Oauth2 extension "oauth2/authorize" in [this file](https://gi

[2016-08-12 07:08] alvaradojl opened #86 "Using cordova-plugin-ms-adal on vanilla ionic2 project does not recognize Microsoft namespace"
### Issue Description
After setting up a vanilla ionic2 project and updating home.ts to include a login function being called by a button in home.html with the following line of code:
` let authContext =  new Microsoft.ADAL.AuthenticationContext("https://login.microsoftonline.com/common");`

There is a run-time exception with the message:

### Repro Environment Details
1. Installed plugin version:

[2016-08-17 11:58] khalidaw opened #87 "Android - keep me signed in not hidden"
Hi,

When opening android web view for login, for ms accounts (private), there is a check box with "Keep me signed in" option.

This doesn't happen on iOS.

while this KMSI option has no meaning on mobile, do you have a way to hide it? maybe through extra query param?

[2016-08-17 16:13] pkmelee337 opened #88 "iOS - Retrieving "Object moved to here" after login"
### Issue Description
I am retrieving the error "Object moved to here" after login in iOS. Windows Phone and Android works fine. I always used the redirect URL "http://localhost:4400/services/office365/redirectTarget.html". I also tried the URL "http://localhost:4400/services/aad/redirectTarget.html" from the sample but this isn't working either.

### Repro Environment Details
1. Installed plugin

[2016-08-17 19:32] jospete commented on #85
Managed to get Android working with Android ADAL 2.0.3-alpha on [this fork](https://github.com/jospete/azure-activedirectory-library-for-cordova). Going through all of the ADAL sources and this plugin's implementation has me thinking that ADAL isn't really mean't for B2C. Is this the case??

I'm currently working off of the native mobile B2C implementations for [Android](https://github.com/AzureAD

[2016-08-17 20:52] jospete commented on #85
Just updated ADALiOS to 3.0.0-pre.2 and it works as expected for B2C, will have this in the patched plugin soon

[2016-08-18 08:24] sgrebnov commented on #85
Plugin version in repo master has recently updated to use ADALiOS 2.2.2 instead of 1.x  - could you please see if version 2.2.2 is enough to enable this scenarios or we should bump to 3.x?
[code]

[2016-08-18 09:24] sgrebnov commented on #85
Honestly, we have never tested plugin for B2C case. @jospete in your fork did you have to change any plugin internal implementation/logic to make it working or you just bumped native SDKs? I'm looking on the [Android changes](https://github.com/jospete/azure-activedirectory-library-for-cordova/blame/master/src/android/CordovaAdalPlugin.java) and see new `policy` param and other modifications and n

[2016-08-18 09:41] sgrebnov commented on #85
After reading [B2C Docs](https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-reference-oauth-code/) it looks like there is extra work required for B2C support other than just bumping native libraries. I'll discuss whether we plan to add B2C support w/ plugin owners.

[2016-08-18 10:39] sgrebnov commented on #86
1. Please double check that you invoke this code after `deviceready` even is fired:
https://cordova.apache.org/docs/en/latest/cordova/events/events.html
Plugins are loaded async and you can't use them before that event is fired.

2. Also, please see if there are no other errors in the browser console.

[2016-08-18 10:52] sgrebnov commented on #87
I'm looking on the supported [query params](https://azure.microsoft.com/en-us/documentation/articles/active-directory-protocols-oauth-code/) and, unfortunately, don't see anything you can use.

Ping @vibronet  - Vittorio, could you please help here? - Is there a way to control 'Keep me signed in' option?

[2016-08-18 11:05] sgrebnov commented on #88
@pkmelee337, could you please see if you have the same issue when using azure-activedirectory-library-for-cordova@0.7.1? We've recently updated ADAL native library for iOS from 1.x to 2.x so this could be the reason (but I don't see this repro on my test setup)
[code]

[2016-08-18 12:42] pkmelee337 commented on #88
@sgrebnov, I can confirm that this is indeed working, thank you very much. Pity though that I can't use the latest iOS build.

[2016-08-18 12:44] pkmelee337 commented on #88
Some extra information, I did find out that the "Object moved to here" error only occured when logging in through ADFS.

[2016-08-18 14:05] jospete commented on #85
After learning a significant amount about how this plugin works and how it interacts with the ADAL libraries, the differences between the current plugin state and what B2C requires will basically boil down to that "policy" parameter, and _possibly_ B2C's odd Oauth2 endpoints that require a "v2.0" intermediate (/oauth2/v2.0/authorize instead of /oauth2/authorize, /v2.0/oauth2/token instead of /oaut

[2016-08-18 14:18] jospete commented on #85
To answer your question about ADALiOS 2.2.2, I pulled the sample for that tag from [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/tree/2.2.2) and there doesn't seem to be a place to put a custom policy, so I'm afraid this won't work.

I guess I'd like the libraries to be updated to add support for custom policies, and not so much to support B2C - policies seem to be the c

[2016-08-18 14:31] sgrebnov commented on #85
@jospete, thank you for extra info!

[2016-08-18 14:33] sgrebnov commented on #88
@pkmelee337 , thank you for the info - I'll take a look.

[2016-08-18 15:18] jospete commented on #85
Update on plugin v0.7.2-dev - I've successfully gotten my custom policy to show in the prompt using these parameters:

[code]

However, I get an invalid_grant error when trying to authenticate:

[2016-08-18 15:42] jospete commented on #85
Same issue on iOS:

[2016-08-18 15:45] jospete commented on #85
@sgrebnov I think updating the libraries appropriately will fix the Oauth2 problems listed above, but as you said, the library updates will entail some fairly significant plugin changes as far as API calls and Type definitions.

[2016-08-18 18:48] sgrebnov commented on #85
The current decision is to wait till new version of native libs are officially released because we can't switch to pre-released versions and then review this work item one more time. In a mean time, it looks like that passing custom policy via query param is the simplest way to make B2C scenario supported.
@jospete thank you for all details provided and your experiments.

[2016-08-19 10:33] #86 closed

[2016-08-19 10:34] alvaradojl commented on #86
I realized this code does not work on the Android simulator but it does work on the device itself.
Thanks anyways!

[2016-08-24 13:27] pkmelee337 opened #90 "iOS - Login not working on iOS10"
### Issue Description
I have exactly the same error message as described here "https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/717". It looks like the issue is fixed with this pull-request which is merged: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/713 20 days ago. Is it possible to merge the latest version of iOS to the cordova plugin? Problem

[2016-08-24 14:41] arijitdas opened #91 "Android - onActivityResult BROWSER_FLOW data is null"
### Issue Description

In our cordova based app we are repeatedly seeing error (in logcat) saying:
E/AuthenticationContext(2765): `ON_ACTIVITY_RESULT_INTENT_NULL`:2016-08-24 14:29:29-96b7e2c1-1dc9-45b9-96a5-cffc88d86bd9-`onActivityResult BROWSER_FLOW data is null`. ver:1.1.18

By going through the ADAL plugin code for Android, it looks like that it lost the browser reference. What does it exactly

[2016-08-25 09:50] khalidaw commented on #90
I think this must be a high priority for next release.

We do see this error a lot in telemetry, happens for more than half of the people with iOS 10.

[2016-08-25 17:31] sag333ar commented on #88
![Example Image](https://cloud.githubusercontent.com/assets/4737312/17979348/c439ded6-6b17-11e6-8beb-ee3cc6b503a2.gif)
Not working on iOS-9 too. I've to click 2-3 times on `here` button of "Object Moved here" text.

[2016-08-26 17:27] GauravMahajanMicrosoft opened #92 "Can not login using ADAL plugin on windows for some users"
Some users particularly on tenant "systemsnationalanalysts.onmicrosoft.com" (where systemsnationalanalysts is the name of the O365 tenant) are prompted for my O365 credentials but the login fails.

Firewall logs show that the computer is trying to reach https://systemsnationalanalysts.onmicrosoft.com(where systemsnationalanalysts is the name of the O365 tenant). That host does not resolve.

Then i

[2016-08-31 08:03] sgrebnov commented on #90
Thanks for reporting this along w/ the link to fix in native lib, to be addressed soon.

[2016-08-31 09:33] sgrebnov commented on #84
I've created a test user w/ the same name and confirm this issue:
1.  http://jwt.calebb.net/ parses jwt token returned by ADAL service correctly (including non-us characters): `name: "áškhalidáš",`
2.  our [parseJWT](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/8b5664b61d02da58d8876ff3ca9eb528e8778709/www/utility.js#L585)  implementation does not handle encoding

[2016-08-31 11:00] #84 closed

[2016-08-31 11:04] sgrebnov commented on #84
Fixed by https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/f37aa481b7628864adc31cd15feb57d2d6649ed8, to be included into the next plugin release. @khalidaw , please see if you will need to update client app logic after release and bumping adal version.

[2016-09-01 06:43] khalidaw commented on #90
I tested the code in master, it workes with iOS 10. (some where you upgraded to ADAL > 2, and no issue there)

[2016-09-01 08:12] sgrebnov commented on #90
I don't see [the patch](https://github.com/AzureAD/azure-activedirectory-library-for-objc/commit/9fdc4754788f7361b0e5a5b869eb954ebb13c308) has been included to 2.2.2 (what we use in master), but I'm looking on the 2.2.2 codebase and confirm there is no `didFailWithError`  call in `stopLoading` method which was causing iOS 10 Beta 2+ issue in 1.2.x. So we should be fine.
https://github.com/AzureAD/

[2016-09-01 08:12] #90 closed

[2016-09-01 08:47] #88 closed

[2016-09-01 08:52] sgrebnov commented on #88
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/7215f9329415149723da85aa8bf67c6e7a0950b6
I've bumped native iOS lib from 2.2.2 to 2.2.4 and the issue went away (I previously had a stable repro w/ 2.2.2).

[2016-09-01 12:54] sgrebnov commented on #91
I've tried to reproduce this issue using the following flows, but don't see this warning. @arijitdas , could you please describe your repro steps. ADAL native lib and cordova plugin are implemented the way so that you don't need to do anything special if user cancels out the login process from browser / webView. I also see there a special [unit test added](https://github.com/AzureAD/azure-activedi

[2016-09-01 14:42] sgrebnov commented on #68
Closing, please re-open if this issue is still actual.

[2016-09-01 14:42] #68 closed

[2016-09-01 14:43] sgrebnov commented on #87
Closing, please re-open if this is still actual.

[2016-09-01 14:43] #87 closed

[2016-09-01 21:07] GauravMahajanMicrosoft opened #94 "Able to login directly without phone/smart card authentication when using RAS card"
### Issue Description
Pre-condition: Use RAS card to connect domain
When a user (under @microsoft.com) uses RAS card to join the domain, there are **not** asked for phone authentication or smart card authentication.

### Repro Environment Details
1. Installed plugin version:   Latest ADAL plugin version: v0.7.1 ( 30de2ba )
2. Target Platform: Windows 10
3. Test device and OS version: Windows 10 De

[2016-09-05 09:45] sgrebnov commented on #92
I've tried to reproduce this issue using newly created  Azure AD account and steps similar to what is described in [Connect to Office 365 using ADAL Cordova Plugin](http://taco.visualstudio.com/en-us/docs/access-office365/?rnd=1) (except SSO part - special url to enable SSO) and it works fine. I've also performed step-by-step debugging to ensure native methods are executed w/ correct parameters. I

[2016-09-05 11:02] pkmelee337 commented on #88
Thank you very much! I can confirm that the problem is solved.

[2016-09-05 13:33] sgrebnov commented on #88
Thanks for confirming this! We are working on release so this should be publicly available soon.

[2016-09-07 18:40] ramaguduri opened #95 "Launching broker(Authenticator) app from iOS"
### Issue Description
I have downloaded the sample shared in the repository and followed the instructions to create ADALSample cordova project. I am trying to debug this application from xcode on a connected device where MS authenticator application is installed. When I click on 'AcquireToken' on the menu it keeps opening the embedded browser but not the authenticator application. I made sure 'LSA

[2016-09-08 22:11] greybax commented on #95
I think that I have the similar behavior. Let me describe it by steps:

1. Try to login page in my app
2. Get notification in Authenticator app on this iPhone (device where I've tried to login).
3. Go to Authenticator app and activate app.
4. Come back to our app
5. Don't get any token in this app

If notification comes to another phone (for example on my android device) and I didn't collapse my a

[2016-09-08 22:34] ramaguduri commented on #95
@greybax

What do you mean when you try to login page in the app? Which API are you using from the library? I'm using 'acquireTokenAsync' which launches the embedded browser.

And I dont get any notification on the Authenticator app.

[2016-09-08 22:37] greybax commented on #95
I'm using this method in ```js```
[code]

and call it in on ```onDeviceReady```:

[code]

[2016-09-08 22:43] ramaguduri commented on #95
Yep that is from the sample and I am using the same to test.

I just changed the 'resourceUri, clientId, redirectUri'.

Did you have to change anything in Cordova application to get the notification for Authenticator app other than adding 'LSApplicationQueriesSchemes' to the plist?

Also I think once you authenticate in the Authenticator app if you have the right re-direct URL scheme as mentioned

[2016-09-09 10:31] sgrebnov commented on #95
@ramaguduri,  does it work if you use 0.7.1 (public) plugin version? I'm going to investigate this issue before 0.8.0 release.

[2016-09-09 12:03] sgrebnov commented on #95
@ramaguduri, I'm running the code and also looking into the source code and in both places I see that `_credentialsType = AD_CREDENTIALS_EMBEDDED;` by default which prevents ADAL from calling to the broker
https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ADAuthenticationContext.m#L103

It was enabled and worked by default previously. Looks like native ADAL librar

[2016-09-09 12:15] sgrebnov commented on #95
Problem here, is due to internal lib implementation if we always set `_credentialsType = AD_CREDENTIALS_AUTO` it will fail for standard urls (not for brokered auth). We should update our implementation to set up this parameter for every api call.

[code]

[2016-09-09 12:32] sgrebnov commented on #95
`ADAuthenticationRequest validBrokerRedirectUri` is private method so we can't use it so there are two option here:
1. Add own implementation similar to validBrokerRedirectUri
2. Introduce JS method similar to Android to control this setting (re-use the same JS method as on Android).

[2016-09-09 13:26] sgrebnov commented on #95
I was able to get it working by manually adding the following:

plist
[code]

CordovaADALPlugin.m
[code]
js
[code]

The above works for me and I can see that Authenticator app is started and I get authentication token upon successful login.

The problem here is how to make it working via plugin (modify plist according to application bundle and registering unique app scheme)

[2016-09-09 15:27] ramaguduri commented on #95
@sgrebnov I was able to get this working after adding the line you mentioned in CordovaADALPlugin.m.

For setting the credentialsType can we leverage the 'Microsoft.ADAL.AuthenticationSettings.setUseBroker(true);' method for IOS as well?

I have modified the plugin.xml to automatically add the 'LSApplicationQueriesSchemes' and 'CFBundleURLTypes'.
If you can create a branch for this I can submit a

[2016-09-09 16:21] sgrebnov commented on #95
Adding `Microsoft.ADAL.AuthenticationSettings.setUseBroker(true); ` support should be simple. I'm thinking whether we can automatically detect whether we want to use brokered authentication looking on on the plist info.

Also, we have the following settings files automatically added by our plugin:
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/src/ios/ADALiOS.enti

[2016-09-09 16:28] sgrebnov commented on #95
@ramaguduri could you please create a gist w/ the sample config.xml to update plist. I'll use this approach as a backup plan if idea above won't work - add support for `setUseBroker(true)` + document config.xml requirements.

[2016-09-09 16:55] sgrebnov commented on #95
I've playing w/ entitlements file we have and if I add the following section
[code]
It is automatically resolved to what we need in plist
[code]

So we can just document, that the redirect url should be in the following format:
[code]

[2016-09-09 16:59] ramaguduri commented on #95
Sweet! I was looking at a way to do it through config.xml with no luck.

This [link ](http://stackoverflow.com/questions/22769111/add-entry-to-ios-plist-file-via-cordova-config-xml) says it has to be done through plugin.xml but we will be hard coding at that point.

[2016-09-09 17:32] sgrebnov commented on #95
The following extra section in plugin.xml works for me. See `$(CFBundleIdentifier)` and `x-msauth-$(CFBundleIdentifier:rfc1034identifier)` - they are automatically resolved during build as per your real identifier.
[code]

[2016-09-09 17:45] sgrebnov commented on #95
I think we cam use the following code to determine whether we should proceed w/ brokered auth or not. It seems to work well. I'm going to add documentation and commit support for brokered auth soon.
[code]

[2016-09-09 18:55] ramaguduri commented on #95
Thanks for the help. Right now I will continue using the workaround, please update this issue when it is available on the release.

[2016-09-09 19:24] sgrebnov commented on #95
I've just pushed a fix for this to master, please let me know whether it works. See documentation update to make sure you use the right redirect uri.

https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/8192ef4a647edf5d65f67d601847fbeed0cb323b

[2016-09-09 21:29] greybax opened #96 "#import <ADAL/ADAL.h> file not found"
### Issue Description

In CordovaAdalPlugin.m got exception `#import <ADAL/ADAL.h>` file not found

### Repro environment details
1. Installed plugin version: 0.8.0
2. Target Platform: iOS
3. Cordova CLI - 6.3.1, Cordova iOS - 4.2.1

**UPD:** my bad. didn't compile it properly. Now it's ok. **Issue can be closed**

[2016-09-10 15:00] sgrebnov commented on #96
Thanks for update!

[2016-09-10 15:00] #96 closed

[2016-09-12 07:10] #95 closed

[2016-09-18 20:07] GaryMcAllister opened #97 "Cannot login to ADFS on iOS 10"
Unable to login using ADFS 3.0 and the ADAL, authentication automatically gets cancelled.

[2016-09-19 05:08] sgrebnov commented on #97
Which plugin version do you use?

[2016-09-19 05:11] GaryMcAllister commented on #97
8.0

[2016-09-19 16:12] jimbobeen opened #99 "iOS build issue using Cordova 5.4.0"
I'm getting the following error when building my project:

[code]

This plugin worked previously when using 0.6.0 but I cannot get 0.8.0 to work.
Currently using Cordova 5.4.0 and Node 4.5.0, where I am Building to iOS, iPad Air running iOS 8.3, building from Windows 10 through a Macbook Air remotely.

Any suggestions? :)

[2016-09-21 06:15] GaryMcAllister commented on #97
Hi... have you confirmed this is a bug?.. any idea when it will be resolved?.. getting pressure in my org. 😞

[2016-09-22 20:07] HelenL75 opened #101 "tokenCacheItem does not persist in ios ?"
Hi,
I probably should post my question here instead of ADAL for objc.  I posted there because the issue only happens to ios devices, android is working fine.  I've also posted on stackoverflow because I desperately need some help to fix this problem.  I have the full description of the problem [here](http://stackoverflow.com/questions/39619309/adal-cordova-plugin-unable-to-retain-token-on-ios).

T

[2016-09-23 05:56] sgrebnov commented on #97
@GaryMcAllister we are starting actively investigating this problem (not tried to repro yet)..  will keep you updated. Ping @vladimir-kotikov

Could you please see if turning off `validateAuthority` helps? - I saw similar issue reported recently on  StackOverflow:

[code]

[2016-09-23 06:00] sgrebnov commented on #97
Also, starting from 8.0 there is special `err.code` field included in error instance which should contain specific rejection reason returned by native library. Could you please post your error including this field here. For more details: https://github.com/AzureAD/azure-activedirectory-library-for-cordova#handling-errors

[2016-09-23 06:02] sgrebnov commented on #99
Ping @vladimir-kotikov - could you please take a look?

[2016-09-23 06:06] GaryMcAllister commented on #97
It's already off ... 😞

[2016-09-23 06:06] GaryMcAllister commented on #97
Will do, thanks.

[2016-09-23 06:16] sgrebnov commented on #101
Adding @vladimir-kotikov to help.

@HelenL75, is there any chance you can run generated Cordova ios platform (`<your-cordova-app>/platforms/ios`) using XCode? There will be detailed error trace available in XCode debug window after you made `acquireTokenAsync` call (something related to token cache write error).

The first thing to double check is that `com.microsoft.adalcache` is correctly added

[2016-09-23 18:32] HelenL75 commented on #101
@sgrebnov, I will try to get XCode setup and provide that info when I get back to the office on Monday (not a very experienced Mac user...) .

I also include my remote build log on dropbox [here](https://www.dropbox.com/s/jcn9uc8cpxkubqg/cordova-ios-remote-build-log.txt?dl=0) for you to review.  I saw some warning messages but not sure if that's something needs to be alarmed of.

Thank you so much

[2016-09-26 10:23] jimbobeen commented on #99
I have fixed the issue, It turned out to be something quite simple. I was running an Xcode version lower than 8, which seemed to cause the errors above. Upgrading to Xcode 8.0 fixed the issue.

[2016-09-26 10:24] #99 closed

[2016-09-26 12:46] vladimir-kotikov commented on #97
I will try to reproduce the issue once I have test ADFS infrastructure set up. Will keep you posted.

[2016-09-27 21:39] GaryMcAllister commented on #97
The issue I have is that I have multiple AD Trusts setup and when you select any organisation the login page just assumes a cancellation of the login process.

[2016-09-27 21:39] GaryMcAllister commented on #97
I've looked at the error codes and I get a statusCode 2 and a description of "The operation was cancelled"

[2016-09-30 13:13] HelenL75 commented on #101
@sgrebnov , I finally got the code compiled on a MacOS Mini and ran successfully on my iPhone 6s Plus.  It doesn't have the same issue of keep sending me back to login screen.  So this issue only happens with Remote Build then? Is there a way to get around this or I will always have to compile my ios version on a Mac?

[2016-10-06 22:46] #97 closed

[2016-10-06 22:46] GaryMcAllister commented on #97
8.2 seems to have fixed my issue (thanks).

[2016-10-28 04:03] khalidaw opened #103 "Plugin Localization"
Should have the possibility to pass localized "cancel" text with start interactive login request.

[2016-10-28 20:03] ramaguduri opened #104 "ADAL android upgrade to source version - 1.10.0"
### ADAL android version not latest

Current version of the ADAL android is 1.1.18 which is 6 months old and there have been good number of fixes made and the latest release is 1.10.0
### Repro Environment Details
1. Installed plugin version:  master or 0.8.1
2. Target Platform: Android

[2016-11-01 07:39] khalidaw commented on #103
I can open a PR with this solution:
an optional back string in acquire token interactive, called "backTest", and default to english Cancel.
Let me know what you think

[2016-11-04 21:07] nguyenjk commented on #101
@sgrebnov, I have similar issue. I have ionic app and I followed this [sample](https://github.com/Azure-Samples/active-directory-cordova-multitarget). The login window keeps pop up. I checked and found com.microsoft.adalcache is added. The token seems to be empty all the time. I build the project on mac and when I run on emulator, it seems always failed to save the token into the cache. any idea w

[2016-11-07 07:33] vladimir-kotikov commented on #101
@nguyenjk, when you running app from XCode, are there any messages logged to console when you are authenticating?

[2016-11-09 10:35] EatonIoT commented on #85
I am not able to run this B2C sample.

Also can you highlight on when it will be officially supported  or any updates?

[2016-11-09 15:01] jospete commented on #85
@EatonIoT If you're talking about the sample on my fork, I didn't update it to work with the patch. Try following the installation and sample usage on the [patched readme](https://github.com/jospete/azure-activedirectory-library-for-cordova#installation) for your project.

B2C will probably be officially supported when Android ADAL 2.0.3-alpha and iOS ADAL 3.0.0-pre6 (and whatever the working alph

[2016-11-10 05:02] nguyenjk commented on #101
@vladimir-kotikov, I found the issue. I have to assigned the project to be under some team development in order to get key sharing work. I open Xcode manually, and click in the ionic iOS project. under general tab, there is sign in section and choose the team you want to sign in. That would resolve my issue.

[2016-11-10 10:46] devangieaton commented on #85
@jospete  I am not able to run your B2C sample code. I took ADAL cordova sample, remove "cordova-plugin-ms-adal" and add your plugin.
I am changing www/js/index.js file with following :
`var params = {
        redirectUrl: "urn:ietf:wg:oauth:2.0:oob", // default to use
        resourceUrl:"*******-e163-****-8ad5-*********",
        extraQueryParams: "nux=1", // all the updated libraries have this

[2016-11-10 12:45] vladimir-kotikov commented on #101
Ah, I see. This is a known issue - to build and run app from Cordova CLI you can use a [`--developmentTeam` command line option or `developmentTeam` field in `build.json`](https://cordova.apache.org/docs/en/latest/guide/platforms/ios/index.html#using-flags) if you're on cordova-ios@4.3.0 or use a [hook](http://www.dpogue.ca/articles/cordova-xcode8.html) if you haven't yet upgraded your cordova-ios

[2016-11-10 12:45] #101 closed

[2016-11-10 18:55] afourney commented on #80
I'm experiencing the same issue.

Specifically, we see the "Can't connect" screen after the redirect that occurs upon entering one's email address.  This *only* occurs for users who are connected to our corporate WIFI network on Windows 10.

[2016-11-10 19:07] afourney opened #105 "Cannot connect error when logging in via corporate WIFI"
### Issue Description
This issue resembles the situation described here: [https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/80](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/80)

When users attempt to login from a laptop connected to the corporate network, they receive the error:

"We can't connect to service right now. Check your internet co

[2016-11-11 17:52] afourney commented on #105
Update: I think this issue it related to the ADAL bug here: [https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/222](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/222)

[2016-11-15 15:42] sjhoeksma opened #106 "Retrieving ADFS authority fails on IOS when using version 8.0 or 8.1"
### Issue Description
When i use the code below on version 7.1 of the plugin, all works when authority is an ADFS link. But on IOS 10 the result is unstable for 7.1. Therefor is was looking forward to the version >8.0.
But after upgrading i get

	var authContext = new Microsoft.ADAL.AuthenticationContext(authority,**false**);

### Repro Environment Details
Installed plugin version:  7.1 works, but

[2016-11-16 17:13] khalidaw commented on #104
Opened PR for this: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/pulls

[2016-11-20 13:17] mifurm commented on #85
Hi, I am using ADAL on Android.
Calling authenticationContext.acquireTokenSilentSync leads me to this type of error.
As far as I understand the context it says, that the refresh token is failed (broken?) and it cannot get me a new id token with it. Morover, because I use Silent method, he cannot prompt me with user name and password so it fails.
What I may have been doing wrong in here?

com.micro

[2016-11-22 21:47] nanivijay opened #108 "tokenCache is returning 0 items after successful login in windows 10 platform"
### Issue Description
tokenCache is returning 0 items after successful login in windows 10 platform

### Repro Environment Details
1. Installed plugin version: 0.8.1 (Have you tried installing the latest plugin version to ensure this has not already  been fixed?)
2. Target Platform: Windows 10 and Windows phone 10
3. Test device and OS version: Nexus 6p Android 6.0`, `Windows Mobile 10 emulator`,

[2016-11-22 22:08] nanivijay commented on #108
https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/35

The issue now i am facing in widows 10 is similar to the above issue

[2016-11-22 22:09] nanivijay commented on #75
+1

[2016-11-24 12:34] kabaehr opened #109 "TokenCache returns accessToken=undefined on ios"
### Issue Description
I am using the TokenCache to retrieve the token to intercept my HTTP requests. On Android, the field "accessToken" of the tokenCacheItem is set to my token. On iOS the "accessToken" field is not set (= undefined). When I take a look at the AuthenticationResult on iOS I get from the acquireTokenAsync method, the field "accessToken" is undefined as well.

As a workaround I now

[2016-11-29 02:58] sowsan opened #110 "Azure B2C support with apache cordova"
Is there a support for Azure B2C ?

Regards,
Sowmyan

[2016-11-29 18:22] afourney commented on #105
Ok, I appear to have fixed the problem by adding:
<Capability Name="privateNetworkClientServer" />
To the manifest file.

Note that setting:
<preference name="adal-use-corporate-network" value="true" />
in cofig.xml *does not* resolve the issue. Instead, it results in the error "We received a bad request"

[2016-11-30 18:01] emrdev opened #111 "Certificate error on Android causing log in screen to fail to display"
### Issue Description
We have noticed a problem on a couple of Android handsets - a user clicks the sign in button in our app which invokes the ADAL plugin "acquireTokenAsync" method. The screen dims briefly and then the user is sent back to the sign in screen (as the call failed).

### Repro Environment Details
1. Plugin version 0.7.1, I have also tried 0.8.1
2. Android version - seen on 5.0.2 an

[2016-12-01 10:53] emrdev commented on #111
Here's some version details that have been captured from 2 working and 2 failing devices

![android_sheet](https://cloud.githubusercontent.com/assets/17826621/20791333/54d3df76-b7b4-11e6-97a4-519bcec8deef.PNG)

[2016-12-01 14:17] candril commented on #101
@vladimir-kotikov that's exactly what I'm doing (setting the the team ID in the build.json).
However, it works from a build made with xCode.
It's **not** working for a build done with `cordova build ios --device` => `acquireTokenSlientAsync` is saying that no login exists.

I've checked the entitlements in xcode, they seem to be fine.

[2016-12-06 13:16] kabaehr commented on #110
Hey, I am just a person who used this plugin for Azure B2C. It worked well except one Issue: https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/109

[2016-12-06 20:02] sowsan commented on #110
Are you able to setup the AD B2C policy and send the details ?

[2016-12-06 21:25] kabaehr commented on #110
I setup a policy and send it with the token request. What details do you mean?

[2016-12-13 21:32] khalidaw commented on #104
+1
I have upgraded to 1.10 in our code.
A lot of key generating errors are solved there.

[2016-12-20 16:34] filionf opened #114 "Cannot submit to the Windows store"
### Issue Description
I added Azure AD authentication to my app using cordova-plugin-ms-adal. It works well, but when submitting the package to the Windows Store, I receive the following error:

Also, when building it, I receive the following:

I am not quite sure how to test this because it fails when uploading the package, removing the plugin works.

### Repro Environment Details
1. Installed pl

[2016-12-20 18:02] daserge commented on #114
@filionf try uploading `*bundle.appxupload` file instead of `appxbundle` - it's located one directory up (in `\platforms\windows\AppPackages\`).

[2016-12-20 19:58] filionf commented on #114
Ah ha! It looks like it does not get generated. Might not be related with this plugin at all finally. I will investigate and post back. Thanks for the hint.

[2016-12-21 17:29] filionf commented on #114
Finally got it working. To generate the appxupload, I had to modify the buid.js of cordova-windows with `UapAppxPackageBuildMode = "StoreUpload"`
@daserge, since you seem to be working on cordova-windows, is this something I should submit a PR for? Or it has already been taken care of for the next release of cordova-windows?

[2016-12-21 18:12] almost92 opened #115 "acquireTokenSilentAsync fails with error "Failed to acquire token silently. Call method AcquireToken.""
### Issue Description
for interactive sign in I am using acquireTokenAsync which works perfectly
**after I kill the app and reopen it**, I use acquireTokenSilentAsync for silent sign in which fails with error
failed_to_acquire_token_silently - Failed to acquire token silently. Call method AcquireToken.

some debugging I did got me to this:
following interactive sign in the context object has autho

[2016-12-23 07:57] daserge commented on #114
@filionf - could you please tell which cordova-windows platform version has this issue?
I could not reproduce this with 4.5.0-dev (Github master).
We should file it at http://issues.cordova.io.

[2016-12-23 13:14] filionf commented on #114
Oh, sorry, I forgot to mention. I reproduce it using 4.4.3, but I noticed the code changed in dev where I had to change it, that is why I ask, it might have been solved differently.

In build.js, here is what I changed to make it work.

    if (shouldBundle && index === configsArray.length - 1) {
        otherProperties.CordovaBundlePlatforms = bundleTerms;
        otherProperties.UapAppxPackageBu

[2016-12-23 14:21] daserge commented on #114
@filionf thanks for the details.
It's strange but it does not reproduce for me with 4.4.3 - I might be missing some steps - could you please elaborate?
Are you associating with Store using Visual Studio?
Also - does it work for you with master version? (`cordova platform add https://github.com/apache/cordova-windows`)

[2016-12-23 15:09] filionf commented on #114
@daserge Doing the same with the master version.
It was not associated with the Store using Visual Studio because I re-added the platform from scratch, but same result after associating it. Is it possible that what you are missing is the Windows 10? Because I remember the file got generated when building for Windows 8.1, on my setup, it is set using the config.xml file, but I believe you can pass

[2016-12-23 15:42] daserge commented on #114
@filionf Bingo, thanks!
Looks like it's a [known issue](https://blogs.msdn.microsoft.com/wsdevsol/2016/01/08/windows-store-app-projects-stopped-generating-the-appxupload-file-after-installing-vs-2015-update-1/) we have obviously missed.
Filed [[Windows] bundle.appxupload not generated for Windows 10 target](https://issues.apache.org/jira/browse/CB-12298).

[2016-12-23 17:42] filionf commented on #114
I will close this one since it is not really related to ADAL after all! Love your work-around. I did not know we could do that.
Thank you!

[2016-12-23 17:42] #114 closed

[2016-12-25 09:46] almost92 commented on #115
Solution:

to solve this I used the cached items to manually set the authority by creating a new context object with the "already known" authority.

from the sample code:
[code]

[2016-12-25 09:46] #115 closed

[2017-01-02 10:28] candril commented on #101
@vladimir-kotikov do you have any updates on this? Thanks.

[2017-01-04 09:14] jkotamaki opened #117 "When using Broker component, calling acquireTokenSilentAsync will fail"
When using Intune + Authenticator App + Microsoft.ADAL.AuthenticationSettings.setUseBroker(true) works fine for the first acquireTokenAsync call. However, in case we call acquireTokenSilentAsync next, it will fail because there's no items in the tokenCache.

Exact error:
Error: Prompt is not allowed and failed to get token:
    at fail (CordovaBridge.js:36)
    at Object.callbackFromNative (cordov

[2017-01-05 18:08] nguyenjk commented on #105
I have same problem. @afourney were you able to resolve this issue?

[2017-01-05 18:46] afourney commented on #105
@nguyenjk No. I was not able to resolve this problem with this plugin. I ended up implementing the OAuth exchange myself using the InAppBrowser plugin and MSAL. (https://docs.microsoft.com/en-us/azure/active-directory/active-directory-appmodel-v2-overview). Specifically:  https://docs.microsoft.com/en-us/azure/active-directory/active-directory-v2-protocols-oauth-code

We use the Secure Storage plu

[2017-01-06 13:16] vladimir-kotikov commented on #110
@sowsan, @kabaehr, closing this in favor of #85

[2017-01-06 13:16] #110 closed

[2017-01-06 16:51] Eqbalazar commented on #111
For me was the same . I unistalled the updated version of System Webview and set to default .Now is good.
System WebView Vesion: 49.0.2623.105

[2017-01-06 23:53] puneetagarwal commented on #111
I am also facing the same problem in my Moto G4. When I try to open the login screen, it appears and disappearing within a second.

Hey @Eqbalazar, How do you able to uninstall the updated version of System Webview as in my device, it just shows "Force stop" and "Disable" button. Is it possible to catch this error in the code as I can't see any linking between the error and my code?

Thanks.

[2017-01-09 13:44] Eqbalazar commented on #111
Hey ,
After Disable you can uninstall it .

[2017-01-09 17:29] khalidaw commented on #117
+1
Same issue (even without intune)

[2017-01-09 18:38] puneetagarwal commented on #111
Hey @Eqbalazar, Thank you very much, it worked for me. :)

But, is there any way to catch this error in the code as to display a proper message to the user if he/she is facing this issue in their phones?

[2017-01-11 16:15] matrosov-nikita commented on #117
@jkotamaki, @khalidaw, to better understand your case, could you pls provide more information about how are you calling `acquireTokenSilent` method. What parameters do you pass? If you are passing `userId` parameter, what does it look like: GUID or user's email?

[2017-01-12 08:38] jkotamaki commented on #117
hi,

I've managed to solve the issue by doing following:

1. set Microsoft.ADAL.AuthenticationSettings.setUseBroker(true);
2. call context.acquireTokenAsync("https://graph.microsoft.com", clientId, redirectUri)
                .then(function (auth) { ....
, where RedirectUrl is formed like msauth://<my app's package name>/<app's Signature> (to get the signature, there's powershell available, which

[2017-01-12 11:14] khalidaw commented on #117
What about reading cache returns empty values?

[2017-01-12 11:22] jkotamaki commented on #117
that is correct, cache is empty.

[2017-01-12 12:19] matrosov-nikita commented on #117
It's expected behavior because in this case cache entries are managed by broker internal cache, so adal cache is empty.

[2017-01-12 13:23] khalidaw commented on #117
This behaviour seems like Android only.
In iOS the ADAL library loads the items into its cache.
I wish have a way from ADAL it self, to know if user signed in, and which user [As it works without broker]

[2017-01-12 13:29] almost92 opened #119 "Windows - acquireTokenSilentAsync doesn't retrieve a token when provided with userId"
when using the plugin in a Windows app, calling acquireTokenSilentAsync with userId parameter fails with error message "failed_to_acquire_token_silently - Failed to acquire token silently. Call method AcquireToken."
for Android and iOS sending userID returns a valid token.
as a workaround (for windows) I am currently sending undefined instead of userId.

Repro Environment Details
1.	Installed plug

[2017-01-15 11:00] nanivijay commented on #108
<iframe src="http://google.com"></iframe>

[2017-01-16 15:29] matrosov-nikita commented on #111
@Eqbalazar, @puneetagarwal, could you please provide your versions of android, target sdk, ADAL?

[2017-01-17 10:29] matrosov-nikita commented on #108
I've tried to reproduce this issue using [sample](https://github.com/AzureAD/azure-activedirectory-library-for-cordova#how-to-use-the-library) and [DirSearch project](https://github.com/Azure-Samples/active-directory-cordova-multitarget) w/o success. To better understand your case, could you please provide more details about how are you calling 'acquireTokenSilentAsync' and 'acquireTokenAsync'. Do

[2017-01-18 09:32] nanivijay commented on #108
i used the code you provided in sample. no extra parameters. i am able to successfully get the token from tokencache in android but its returning 0 in windows 10 uwp apps. you can try to repro on windows platform

[2017-01-18 12:56] tumetus opened #121 "Where are the tokens saved?"
Where does the plugin save the tokens? I am asking because I want to persist the tokens between app/phone restarts and now it seems that the silent login doesn't always work after phone restart. I have tried to look through the code but can't quite get the grasp of it so any insight would be much appreciated!

[2017-01-18 13:47] vladimir-kotikov commented on #121
@tumetus, the plugin itself doesn't store tokens - token cache is managed by native SDKs (that run under the hood of the plugin) and in theory should persist betwen app/device restarts. If it is empty after device restart that might be either a bug or some specific case, where this behavior is expected (e.g. brokered authentication on Android, see #117).

If you're seeing this consistently, could

[2017-01-18 13:50] vladimir-kotikov commented on #119
@almost92, could you please check if #120 solves your issue?

[2017-01-18 13:51] lightwaxx commented on #111
Can someone please fix this issue.
Android version - 5.1.1

[2017-01-18 13:54] vladimir-kotikov commented on #104
Linking #112

[2017-01-18 15:49] almost92 commented on #119
@vladimir-kotikov works like a charm.
thanks a lot guys.

[2017-01-18 15:49] #119 closed

[2017-01-18 21:18] nanivijay commented on #108
@matrosov-nikita if you want i can share the code with you

[2017-01-18 22:11] matrosov-nikita commented on #108
@nanivijay, yes, it would be very helpful.

[2017-01-18 22:14] nanivijay commented on #108
@matrosov-nikita  https://1drv.ms/f/s!AvG0YRXuhMgRi8xnEShKU5Zq8nEqvw

[2017-01-18 22:19] vladimir-kotikov commented on #119
Nice! Thanks for verification!

[2017-01-18 22:50] nanivijay commented on #108
@matrosov-nikita  the same code working fine with windows 8.1 target. i am getting the item from tokencache but not for windows 10 target

[2017-01-19 12:05] puneetagarwal commented on #111
Hey @matrosov-nikita, I am running my application on Android 6.0.1 (Marshmallow), the target SDK is 25 and ADAL library version is 1.1.3. Is it possible to catch this error?

Thanks.

[2017-01-19 12:28] vladimir-kotikov commented on #111
@puneetagarwal, we currently use ADAL v1.1.18 - are you using old version of the plugin? If so, consider updating to the newest version.

@Eqbalazar, @puneetagarwal, @lightwaxx, it also worth trying #112 to see if newer ADAL for Android would resolve the issue. If it doesn't help, I doubt we could do anything here, because this seems tobe an issue with either native ADAL or system WebView, which b

[2017-01-19 14:50] Eqbalazar commented on #111
Hello All ,

Mine is Android 6.0.1 ,  targetSdkVersion 21 , Adal version com.microsoft.aad:adal:1.2.0 .
 I got error on native App. It seems **developer does not have option to control this for now** .
 You can see the source code of library :

abstract class BasicWebViewClient extends WebViewClient {
    private static final String TAG = "BasicWebViewClient";

    public static final String BLANK

[2017-01-19 15:21] tumetus commented on #121
Yeah sure! I'll provide more details when I investigate this further.

[2017-01-20 14:41] vladimir-kotikov commented on #108
@nanivijay, it's very likely that you run into azuread/azure-activedirectory-library-for-dotnet#486. Unfortunately the only way for you to confirm this is to debug native ADAL library to see if it really fails on cache deserialization.

Unfortunately, right now I can't suggest any workaround that doesn't include building ADAL library from source. According to [this comment](https://github.com/Azur

[2017-01-20 14:44] vladimir-kotikov opened #122 "Upgrade ADAL.NET to the latest version"
See https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/108#issuecomment-274087847

[2017-01-20 14:51] vladimir-kotikov commented on #108
@nanivijay, I'll probably close this unless you can confirm that this differs from AzureAD/azure-activedirectory-library-for-dotnet#486. There is really nothing we can do right now - the only sensible solution I can think of is to upgrade ADAL to 3.x version - I created a seperate issue for this.

[2017-01-20 14:51] #108 closed

[2017-01-20 15:19] vladimir-kotikov commented on #117
@khalidaw, I'll close this one, because the original issue seems to have been fixed by #118. As for exposing broker's cache to the user, unfortunately this is currently impossible using 1.1.18, as ADAL doesn't expose methods for accessing broker's cache (see https://github.com/AzureAD/azure-activedirectory-library-for-android/blob/v1.1.18/src/src/com/microsoft/aad/adal/AuthenticationContext.java#L

[2017-01-20 15:19] #117 closed

[2017-01-20 15:24] vladimir-kotikov commented on #91
Closing this as we weren't able to repro this and didn't get any response so far

[2017-01-20 15:24] #91 closed

[2017-01-20 17:43] nanivijay commented on #108
@vladimir-kotikov Thanks for the update

[2017-01-22 12:13] ersurajnegi commented on #86
even after adding it in devcie ready , still microsoft is not define run time exception is coming

[2017-01-22 12:16] ersurajnegi opened #123 "Microsoft is not defined is coming in run time exception"
### Issue Description
Problem description...

### Repro Environment Details
1. Installed plugin version:  (Have you tried installing the latest plugin version to ensure this has not already  been fixed?)
2. Target Platform: for example, `Android` or `Windows 10` or `Windows Phone 8.1`
3. Test device and OS version: for example, `Nexus 5 Android 6.0`, `Windows Mobile 10 emulator`, `Windows 8.1 Desk

[2017-01-24 11:59] daserge commented on #123
Hi @ersurajnegi could you please add some details about the issue?

[2017-01-24 14:19] daserge commented on #123
Is the issue about transpile or runtime error?
In the first case try adding `declare var Microsoft: any;`.

[2017-01-24 15:13] lightwaxx opened #124 "Cordova windows app closes immediately due to JavaScript runtime error: Unable to get property 'setUseBroker' of undefined or null reference"
Target = Windows Phone 8.1
Cordova IDE = Visual Studio

Why am I getting the below error on Visual studio. I tried adding the winstore-jscompat.js file and this has not help. The app closes immediately on start up. I built the app using Cordova CLI tool but I needed to debug the windows version and I couldn't find a suitable platform, so I had to (grudgingly) turn to VS

![image](https://cloud.git

[2017-01-24 19:11] daserge commented on #124
@lightwaxx `AuthenticationSettings.setUseBroker` is supported on [Android only](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/commit/a006b45f17a02f63bd2dbc914b431445e8ecbe6c).

[2017-01-25 09:17] rifhanakram commented on #85
Hi,
Has the plugin been updated to support Azure AD B2C.

[2017-01-25 09:21] vladimir-kotikov commented on #85
@rifhanakram, hasn't yet, unfortunately

[2017-01-25 09:55] rifhanakram commented on #85
@vladimir-kotikov Thanks for the update :)

[2017-01-25 11:56] vladimir-kotikov commented on #104
#112 has been merged, so closing this one

[2017-01-25 11:56] #104 closed

[2017-01-25 11:59] vladimir-kotikov commented on #111
From AzureAD/azure-activedirectory-library-for-android#759 this is a known issue with Android WebView, see https://github.com/AzureAD/azure-activedirectory-library-for-android/wiki/SSL-Certificate-Validation-Issue

[2017-01-25 11:59] #111 closed

[2017-01-25 12:03] vladimir-kotikov commented on #121
@tumetus, I'm closing this one. Though feel free to ask any questions here or reopen in case if you're experiencing any issues w/ token cache

[2017-01-28 11:46] daserge commented on #124
Fixed in #125 - `AuthenticationSettings.setUseBroker` is now available across platforms.
Note that `setUseBroker` is still functional on Android platform only as Windows and iOS handle Broker internally.

[2017-01-28 11:46] #124 closed

[2017-01-31 02:05] jmkwok commented on #111
Does this mean that once Chrome is updated to version 54, Symantec sites will work continuously? Or will the user have to update Chrome AGAIN after 10 weeks?

[2017-01-31 07:50] vladimir-kotikov commented on #111
@jmkwok, it's not very clear to me as well, but I'm inclined to the 1st variant

[2017-02-01 15:18] vladimir-kotikov commented on #123
@ersurajnegi, is this still actual? Closing this for now as there was no response from your side, but in case if it's still actual, please reopen and provide additional details, so we can investigate

[2017-02-01 15:18] #123 closed

[2017-02-02 12:12] Balaji-Gopal commented on #26
I am trying to use the same in Ionic 1 but I do get the same error mentioned @Cage10  "Error: Microsoft is not defined"..
If I use $window.Microsoft.ADAL.AuthenticationContext, then I do get the ADAL is undefined.
I even tried wrapping the function inside $ioniPlatform.ready but still I get the same error
How do we use it in Ionic 1?

[2017-02-06 12:28] vladimir-kotikov opened #127 "`userInfo` structure in authentication result is `null` in case of brokered authentication"
### Issue Description
When calling `context.acquireTokenSilentAsync()` with brokered authentication enabled, the result of token acquisition doesn't have `userInfo` field defined.

### Repro Environment Details
1. Installed plugin version:  current `master` branch
2. Target Platform: Android
3. Test device and OS version: Nexus 6P Android 7.1.1
4. Cordova CLI 6.4.0

[2017-02-07 17:58] vladimir-kotikov commented on #127
Resolved in #128

[2017-02-07 17:58] #127 closed

[2017-02-08 03:28] robinsonlam opened #129 "TokenCache Items empty on device, works on npm run emulate"
### Issue Description
Hey, I'm debugging my cordova app which I've uploaded to Adobe Phonegap Build. When I run the app on my iPad Air 2, I found that tokenCache.readItems gives me an empty array.

Is anyone else having this problem?

### Repro Environment Details
1. Installed plugin version:  ~0.8.1
2. Target Platform: iOS
3. Test device and OS version: iPad Air 2
4. Are you using Cordova from co

[2017-02-08 11:41] vladimir-kotikov commented on #129
Hey, @robinsonlam, thanks for reporting! The symptoms sound similar to something that is described in #101 - there might be an issue with signing and application access groups, but I'd like to double check.

Also could you provide versions of iOS on your device and cordova-ios platform in your project. Also, what is the content of `emulate` script in your `package.json`

[2017-02-09 01:09] robinsonlam commented on #129
Hey @vladimir-kotikov let me add a bit more info

I can get the cache working if I build the project through `cordova build ios` or` cordova emulate ios `to update the ios project in platform/ios. Then I run the xcodeproject and Run the project on the simulator.

I wonder how this plugin persist the cache on iOS devices?

I'm also building the project through phonegap build.

[2017-02-09 13:32] vladimir-kotikov commented on #129
Thanks for clarification! I'm going to try reproducing this w/ latest cordova-ios available on phonegap build and iOS 9/10 but still, it'd be great if you can provide cordova-ios and your device's OS versions.

[2017-02-09 14:04] vladimir-kotikov commented on #129
@robinsonlam, actually I might now where is the problem - if you're using phonegap 6.3.1 then it's likely that you have cordova-ios version ~4.1.1 - in this version entitlements, that are necessary for proper functioning of the cache, are set up by plugin's hook `before_install` hook (see https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/plugin.xml#L87-L88). However,

[2017-02-09 18:20] vladimir-kotikov opened #131 "README formatting is broken on npmjs.com"
### Issue Description

See https://www.npmjs.com/package/cordova-plugin-ms-adal

<img width="764" alt="screen shot 2017-02-09 at 21 18 52" src="https://cloud.githubusercontent.com/assets/3857604/22796947/89cf9ec8-ef0d-11e6-960a-fa26f40e928c.png">

[2017-02-09 23:14] robinsonlam commented on #129
@vladimir-kotikov Thanks for that! The only problem with this is that when I've uploaded my build to Phonegap build using 4.3.0, the build fails giving me a cert/profile error, not sure if you know anything about this?

[2017-02-10 01:00] robinsonlam commented on #129
hey @vladimir-kotikov thanks for the prompt responses,
I've checked it out and it seems to work when I emulate it, I haven't tested on the actual device yet so I can't confirm it's 100% working haha. Is 0.9.0 not released yet on the Cordova plugins?

[2017-02-10 02:34] greybax opened #132 "Plugin conflicted with cordova-plugin-ms-azure-mobile-engagement"
### Issue Description
I have

    <plugin name="cordova-plugin-ms-azure-mobile-engagement" spec="~3.2.3">

and after that I've installed `cordova plugin add cordova-plugin-ms-adal --save`

After `cordova build android` I've faced with follow build errors:

[code]

Seems that these plugins conflicted with each other. I've also created a bug in [azure-mobile-engagement-cordova](https://github.com/Az

[2017-02-10 06:23] vladimir-kotikov commented on #129
So you have upgraded to cordova-ios 4.3.0? As for the plugin, 0.9.0 has been released just a few hours ago, so you can now install it from NPM.

[2017-02-10 13:16] khalidaw commented on #111
Android system webview should be updated also.

[2017-02-12 23:29] robinsonlam commented on #129
@vladimir-kotikov Thanks for the response over the weekend, could I ask how I would update to cordova-ios 4.3.0?

When I had last updated to PhoneGap CLI 6.5.0, I would get some certificate errors and wouldn't be able to build my app. Is there a way around this?

It's still not working on the device but all I've done is change the `config.xml` to use ~0.9.0 of `cordova-plugin-ms-adal`

[2017-02-12 23:44] robinsonlam commented on #129
Hey @vladimir-kotikov Thanks your the response over the weekend, I've updated PhoneGap CLI to 6.5.0 which has given me ios version 4.3.1,

I've done:
`<plugin name="cordova-plugin-ms-adal" spec="~0.9.0" />`

in my `config.xml` but I'm still getting the same results on the device.

Am I installing this correctly?

[2017-02-13 16:46] kgidewall opened #133 "Expand Resiliency Error Codes"
### Issue Description
We currently invoke resiliency mode when the following conditions occur: network timeout or http error codes 500, 503, 504. After discussion, we have decided to expand the error code list to include ALL http error codes 500 - 599. Please change your logic to include all of those codes for Resiliency.

[2017-02-14 09:03] vladimir-kotikov commented on #133
@kgidewall, could you please clarify about resiliency mode and the changes you suggest? Also i think that we're not handling http errors at all - this responsibility is delegated to native SDKs.

[2017-02-14 11:52] vladimir-kotikov commented on #131
Fixed in 73f607a7a317d953f31547b0042172ebc0c546c1

[2017-02-14 11:52] #131 closed

[2017-02-14 11:53] #132 closed

[2017-02-14 16:23] kgidewall commented on #133
Kenton Gidewall has shared OneDrive for Business files with you. To view them, click the links below.

[icon]

ClientResiliency.NoMarkup.docx<https://microsoft-my.sharepoint.com/personal/kentong_microsoft_com/Documents/0.DevEx-ADAL.C++/C++%20Resiliency/ClientResiliency.NoMarkup.docx?web=1>

[icon]

Supporting extended lifetime tokens in ADAL.noMarkup.docx<https://microsoft-my.sharepoint.com/person

[2017-02-14 16:23] kgidewall commented on #133
To view ClientResiliency.NoMarkup.docx, sign in<https://microsoft-my.sharepoint.com/personal/kentong_microsoft_com/_layouts/15/acceptinvite.aspx?invitation=%7BEC5CC7DB%2D87CF%2D400C%2D8260%2D3DBB13C7A2AB%7D&listId=ce55ea2b%2D0f7a%2D4519%2D8668%2De9ee7f4981e5&itemId=daab0c2e%2Dc366%2D4232%2Da82f%2D22e659d0c8a5> or create an account.

[2017-02-14 16:23] kgidewall commented on #133
To view Supporting extended lifetime tokens in ADAL.noMarkup.docx, sign in<https://microsoft-my.sharepoint.com/personal/kentong_microsoft_com/_layouts/15/acceptinvite.aspx?invitation=%7BC1388693%2D1FAB%2D44AA%2D8264%2D7F4CE0C37745%7D&listId=ce55ea2b%2D0f7a%2D4519%2D8668%2De9ee7f4981e5&itemId=8af924f8%2D89a9%2D4d0b%2D975e%2Dfe29e20ad1dc> or create an account.

[2017-02-14 19:39] jvall opened #135 "Multiple login windows/keeps re-prompting for username/password on acquireToken()"
### Issue Description

Every time I make a call to acquireToken, it keeps launching the AAD login window and prompts me for a username/password, even though I've already authenticated successfully and consumed an access token to make API calls to O365.

My service acquireToken function looks something like this:

1. Initialize authContext and read the token cache with the common login authority (i

[2017-02-15 11:04] vladimir-kotikov commented on #133
@kgidewall, answering you questions:

Exactly. ADAL for Cordova as a cross-platform solution uses a respective native SDK for each of 3 platforms it supports.

The plugin itself is a thin wrapper written in Javascript + native code to align APIs of all 3 native SDKs ad expose those to JavaScript.

I think we didn't. I think we'd nee to upgarde our dependencies first to support it.  We currently us

[2017-02-15 13:28] matrosov-nikita commented on #135
@jvall, I wasn't able to repro this using  a basic sample, so there might be something specific to your app. Just to better understand your case could you please provide a reduced sample where you define your `acquireToken` method and call REST API

Also could you please provide some additional info:
- your cordova && cordova-ios versions
- (not necessary but _would be very helpful_) logs from XCo

[2017-02-15 15:00] jvall commented on #135
Thank you for your response. Just upgraded ADAL to 0.9.0 and still experiencing the issue; it's probably due to my implementation.

Cordova version: 6.5.0
Cordova-iOS: 4.3.1

REST call (inside an observable):

[code]

Implementation in my service:

[code]

XCode error trace (this is after logging in the first time during app start, then calling the API, so the service's acquireToken() is called tw

[2017-02-15 15:22] vladimir-kotikov commented on #129
Yeah, that's right. Just to make sure that you have cordova-ios@4.3.1, could you check build.phonegap.com/apps and see, which version of the platform is displayed in app details:

![screen shot 2017-02-15 at 18 18 51](https://cloud.githubusercontent.com/assets/3857604/22980820/ab4c8c80-f3ab-11e6-98b4-ee3c89e7f165.png)

[2017-02-15 17:54] kgidewall commented on #133
Thanks for the info, Vladimir. Your understanding is correct. You would first need to make sure you are using platform-specific SDKs that support Resiliency. They will take care of the actual resiliency functionality. All you would need to do in your code is to support the flags going into and coming out of the SDK. My additional comments below:

  1.  Expose ExtendedLifeTimeEnabled option for Aut

[2017-02-15 20:53] tumetus commented on #121
@vladimir-kotikov I had some time to test this behaviour further. Not sure if this is the right place to explain this or should I open a new issue?

Anyhow this is what I did:
I set my token lifetimes as follows: access token 10min, refresh token 14days.
I logged in with my ad credentials in my cordova app. I waited for 30mins and tried to aquire token again and it was done so silently (no UI show

[2017-02-16 07:08] balanb02 opened #136 "Cancel on password reset page returns cached token"
Hi,

I am using the Adal Cordova library to get the token from the Azure AD Server for my Android and iOS app and it works.  However, there is one scenario which baffles me.

The first time the user tries to login, I use the user id to try to acquire a token using authContext.acquireTokeAsync() and it works fine.  Now, once the user logs out of the app and then logs in again, I want to force the u

[2017-02-16 09:50] vladimir-kotikov commented on #121
@tumetus, thanks for additional info! We'll try to reproduce this and let you know about results.It'd be also very helpful if you could
- provide an error returned by failed `acquireTokenSilentAsync` call
- record the logs, written by ADAL to xcode console when `acquireTokenSilent` fails to refresh the token.

[2017-02-16 10:26] vladimir-kotikov commented on #135
@jvall, it looks like your app is indeed doing some requests in parallel and there is a race condition between these requests. These two errors
[code]

(see the timestamps) look like they are invoked almost at the same moment.

I guess what happening in your case is that once silent acquisition is failing for the first request, it invokes non-silent flow. Shorly after that the second request also

[2017-02-16 12:33] tumetus commented on #121
Thanks for getting back to me @vladimir-kotikov !

[Here](https://gist.github.com/tumetus/9c0118a46664b24a9279f2bcb41b6dee) is the xcode console printout.

It looks like it interpers the refresh token as expired. Is there a way to inspect the refresh_token parameter? So far I have only managed to inspect the access token.

[2017-02-16 14:58] vladimir-kotikov commented on #136
@balanb02, thanks for reporting!

A culprit of this seems to be session cookies, left by authentication service in the WebView. Usually, when calling `acquireTokenAsync` ADAL instructs server to ignore these cookies by adding a special query parameter to login URL.
However in this particular case after hitting "Cancel" button password reset page redirects web view to a slightly different URL which

[2017-02-16 17:04] jvall commented on #135
An update: I removed all calls to the service's acquireToken() to only run for an HTTP call. To test this further, I removed `_context.acquireTokenAsync` completely, and it appears now that the error trace only displays this once, which is progress:

[code]
 Here's the implementation:

[code]

So now we need to call `acquireTokenAsync()` separately like you suggested on auth errors. I even added a

[2017-02-16 23:14] robinsonlam commented on #129
Yep, it's 4.3.1, I'm wondering if there are some permissions that are needed? maybe localStorage or something?

Thanks for your help @vladimir-kotikov I really appreciate it :)

<img width="324" alt="screen shot 2017-02-17 at 10 12 26 am" src="https://cloud.githubusercontent.com/assets/7957019/23045671/c6473e1e-f4f9-11e6-885a-ac759317fc67.png">
<img width="724" alt="screen shot 2017-02-17 at 10 12

[2017-02-17 05:18] balanb02 commented on #136
Thanks! That seems to work.

[2017-02-17 08:08] vladimir-kotikov commented on #136
Okay, thanks for confirmation. Closing this as there is not much we can do. Feel free to reopen in case if there are any other related problems.

[2017-02-17 08:08] #136 closed

[2017-02-17 09:41] vladimir-kotikov commented on #135
I didn't notice this, but it seems that it's just because context's `acquireTokenAsync` does not destroy web view after successful authentication and creates a new one on another call, so you'll end up having as many web views as many times you have called it. However this doesn't seem to be a problem - I'm able to get token silently with 3 auth web views hanging in background.

Not sure if I unde

[2017-02-17 09:45] vladimir-kotikov commented on #129
@daserge, could you also please try reproducing this?

[2017-02-17 09:48] vladimir-kotikov commented on #133
@kgidewall, thanks for clarification.

[2017-02-17 09:51] vladimir-kotikov commented on #122
Also from #133 (Resiliency mode support):

[2017-02-17 09:54] vladimir-kotikov opened #137 "Upgrade ADAL for iOS SDK"
From #133 (Resiliency mode support):

[2017-02-17 11:09] vladimir-kotikov commented on #121
@tumetus, that explains why you're not able to authenticate silently.

As for refresh token expiration - AFAIK there is no way to inspect refresh token. It's not a JWT, like access token is, and there is nothing about refresh token parsing in client code, so I suspect that only server knows how to deal with and validate them.

See also [this](http://www.cloudidentity.com/blog/2015/03/20/azure-ad-t

[2017-02-17 16:30] jvall commented on #135
Finally figured it out. It had nothing to do with the library; there was some weird behavior going on when it was wrapped in an observable. I took it out of the observable, and it behaved as expected.

I'll continue to experiment with this and might contribute a section for Ionic 2 users in the documentation about how to properly call the acquire functions.

Thanks for the help!

[2017-02-17 16:30] #135 closed

[2017-02-17 16:52] jvall commented on #135
Yeah, for some odd issue, it's failing when wrapped in Observable.create(). Here's where it was called:

[code]

I can't see anything immediately wrong with my code; perhaps open a separate bug report?

[2017-02-20 07:41] SanjibK opened #138 "Adal authentication error on iOS 8.3"
I am using adal for authentication in cordova ios project. App seems working fine on iOS 9+. But whenever trying to build on iOS 8.3 simulator or device I am getting below error and authentication fails.

**ADALiOS ERROR: authorization error. Additional Information: The operation was cancelled.. ErrorCode: 3072
ADALiOS ERROR: Error raised: 3072. Additional information: Domain: NSCocoaErrorDomain P

[2017-02-20 07:56] daserge commented on #129
@vladimir-kotikov @robinsonlam I confirm the issue - token cache does not work, investigating it.

[2017-02-20 08:22] vladimir-kotikov commented on #129
Thanks!

[2017-02-21 09:51] vladimir-kotikov commented on #121
@tumetus, were you able to find the cause of your token expiration problem?

[2017-02-21 12:01] vladimir-kotikov commented on #138
@SanjibK, thank you for reporting. We'll try to reproduce the problem and report back once there is a repro. Also, just curious, have you tried to build/run app using non-preview Xcode version? It's possible that beta might be a cause here.

[2017-02-21 23:29] robinsonlam commented on #129
Hey @vladimir-kotikov @daserge Thanks guys!

Was just wondering if there was any news on this and if you guys need any more information?

[2017-02-22 06:33] SanjibK commented on #138
There was some plugin version mismatch. I upgraded all related plugins including Cordova. Besides one JS method (startsWith()) was failing on iOS 8 devices. After a little bit minor adjustment on Xcode it's finally working now. Thanks.

[2017-02-22 06:33] #138 closed

[2017-02-22 12:21] daserge commented on #129
@robinsonlam As far as I could see from my testing the issue is that `archived-expanded-entitilements.xcent` does not contain `keychain-access-groups`->`com.microsoft.adalcache` as opposed to CLI builds.
So `plugin.xml`' `config-file` does not seem work for PhoneGap Build (or there's a configuration issue) - the behavior was the same when I tested [phonegap-plugin-push](https://github.com/phonegap

[2017-02-22 17:02] avaco opened #139 "IPv6 iOS"
### Issue Description
We have been using the library for a few months with great success, but in our latest update to the Apple Store, they told us that it failed their IPv6 connectivity tests. Looking at their documentation. we do not have any IP address literals when connecting to the Azure AD Login.

So the question is if the library uses some low-level networking APIs. I have look at the iOS s

[2017-02-22 23:18] robinsonlam commented on #129
@daserge It's signed by the Enterprise Developer Program cert for iOS,
is there any way to enable `keychain-access-groups`->`com.microsoft.adalcache` through a plugin?

[2017-02-23 07:10] tumetus commented on #121
@vladimir-kotikov Thanks for your response! Unfortunatelly I haven't yet had time to investigate this further.

[2017-02-26 22:57] robinsonlam commented on #129
Hey @daserge, thanks for the help.

Do you mind if I ask if there's any news on this?

[2017-02-27 10:47] daserge commented on #129
@robinsonlam I propose to ask [this question](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/129#issuecomment-281654532) on https://forums.adobe.com/community/phonegap/build

Also there's a related thread https://forums.adobe.com/message/9191173#9191173 with a workaround of re-signing the .ipa manually so you might need to add this to the entitlements:

	<key>keychain-

[2017-02-27 12:19] vladimir-kotikov commented on #139
@avaco, thanks for reporting. AFAIK the plugin doesn't contain any code/resources that might cause ipv6 issues - it's just a thin wrapper around ADAL for ObjC. As for upgrading, there is #137 to track that, but since there are no evidences that upstream lib had known issues with ipv4/ipv6 there is a chance that upgrading wont resolve the problem.

Are there any details available about these ipv6 c

[2017-02-27 13:58] vladimir-kotikov commented on #137
Resolved by #139, closing

[2017-02-27 13:58] #137 closed

[2017-02-27 14:01] vladimir-kotikov commented on #139
@avaco, the ADAL for ObjC has been updated in #141, so you could try it using `cordova plugin rm cordova-plugin-ms-adal && cordova plugin add https://github.com/azuread/azure-activedirectory-library-for-cordova`.

[2017-02-27 23:57] robinsonlam commented on #129
@daserge Thanks, we'll be taking it to manual build, looks like it works there.

Could you tell me how you found that `archived-expanded-entitilements.xcent` did not contain `keychain-access-groups` -> `com.microsoft.adalcache` ?

I'm having trouble with another plugin and feel like it may be the same thing

[2017-02-28 05:55] daserge commented on #129
@robinsonlam `archived-expanded-entitilements.xcent` can be found inside the `.ipa` archive - you can rename it to zip and extract.

[2017-02-28 09:33] #122 closed

[2017-04-13 22:55] nickdunn commented on #85
Any news on when B2C support is coming?

[2017-04-17 19:51] jcabreraBSK commented on #26
Have anyone figure out, how to protect the views in ionic when the user is signed out? When the user is sign-out they can hit the back button on the device and it will still take them to the views of the app without logging in.

[2017-04-17 22:17] toveram opened #142 "Bad Request – Request Too Long"
Getting the below error in Android platform.

“Bad Request – Request Too Long”
“HTTP Error 400.  The size of the request headers is too long.”

[2017-04-18 15:39] aqib1604 opened #143 "accessTokenType undefined"
[code]

I am using above code to aquire access token. although I get token but accessTokenType is undefined. When I use access token with hard coded "Bearer" I am getting wrong credentials error in below code.

Can anyone help me please.
[code]

[2017-04-18 15:47] aqib1604 commented on #143
Here is response I am getting.

AuthenticationResult {accessToken: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImEzUU…2nX9WmRuhHBbJwOmiuSj9aJqRiPmjKCygOVxdxSEfvvdd_RJQ", accessTokenType: undefined, expiresOn: Tue Apr 18 2017 21:18:01 GMT+0530 (IST), idToken: "eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiJlYT…X0VyN2JLTDlpRWVGd3dRVXFTa29BQSIsInZlciI6IjEuMCJ9.", isMultipleResourceRefreshToken: fals

[2017-04-19 11:13] aqib1604 commented on #143
I am referring https://msdn.microsoft.com/en-us/skype/ucwa/authenticationusingazuread link and got stuck on "Resending an autodiscovery request with the bearer token" part. When I provide Above access token with "Bearer ", I am getting "403 - Forbidden: Access is denied."

[2017-04-20 23:27] jcabrera17 opened #144 "Ionic Custom Login Page With Microsoft Azure Active Directory Protect UI Router Routes"
### Issue Description
I am using the latest Ionic Framework and have install azure active directory library for cordova. In my app.js file in the .run() function I have the code to authenticate the user when the app is open. It runs and the user is prompt to Microsoft login page. The user logs-in and is redirected to the main view of the app. That works great and the user info is store in the cach

[2017-04-21 10:25] matrosov-nikita commented on #143
Hi @aqib1604, thanks for reporting. Could you please answer on some questions?
Does `accessTokenType` present for silent token acquisition?
Do you have any item in your token cache? If yes, try to clean up a cache first.

As for sending request with token, it seems to me that you missed some headers:
`X-Ms-Origin: http://app.yourdomain.com`
`X-Requested-With: XMLHttpRequest`

[2017-04-21 10:30] aqib1604 commented on #143
@matrosov-nikita No Its undefined in silent token acquisition too.

I dont have any item in token Cache.

[2017-04-21 11:11] aqib1604 commented on #143
@matrosov-nikita One more thing, I found out when I run https://login.microsoftonline.com/common/oauth2/authorize URL after the authentication with ADAL its giving me a Bearer token but I am using his for ionic application, So as a redirect URL I have to use default redirect URL https://login.microsoftonline.com/common/oauth2/nativeclient . Now, when i check the Network from developer console. The

[2017-04-21 13:24] matrosov-nikita commented on #142
@toveram, could you please provide more information about your case?
What AD-specific setting do you use?
What acquisition type are using when you get this error?
Also it'd be very helpful if you could run and post here result of `adb logcat` command.

For now, I guess that this issue may be related to length of the cookie header or there are server request limitations. Could you please try the [f

[2017-04-21 15:44] aarshad786 opened #145 "implementation for Ionic 2"
### Issue Description
adding the plugin using Ionic plugin add cordova-plugin-ms-adal
declare var Microsoft: any;

var authContext = new Microsoft.ADAL.AuthenticationContext(this.authority);
this.authContext.acquireTokenSilentAsync(this.resourceUrl, this.appId).then(
authCompleteCallback, function(){
this.authContext.acquireTokenAsync(this.resourceUrl, this.appId, this.redirectURL).then(authComple

[2017-04-23 14:19] matrosov-nikita commented on #145
Hi @aarshad786, I've tried to reproduce this bug with sample Ionic2 app (tabs) w/o success.
Could you please verify that your cache does not contain any items before acquiring token by following [this guide](https://github.com/AzureAD/azure-activedirectory-library-for-cordova#tokencache). Also, check if there are errors in the console using chrome dev tools.

[2017-04-24 10:26] matrosov-nikita commented on #144
@jcabrera17, thanks for reporting, I'm not sure I understand your case, but may be you need to call authentication process again in case of auth error:
[code]

[2017-04-24 11:21] aarshad786 commented on #145
@matrosov-nikita , Can you share the code via repository?
I have used
authContext.tokenCache.clear();
the problem still persists.

TIA

[2017-04-24 19:39] matrosov-nikita commented on #145
@aarshad786, sure, I created a [repository](https://github.com/matrosov-nikita/ionic-adal-proj) for you  with sample Ionic2 app which contains logic for token acquisition.

Run the following commands:
`npm install`
`ionic platform add android`
`ionic run android`

Let me know if you have any questions.

[2017-04-24 20:21] aarshad786 commented on #145
@matrosov-nikita , thanks for your help on this.
I am still facing the same issue,
console.log showed Unable to acquire token.
I tweaked it more to
function (error) {
              console.log("Unable to acquire token. Error:"+error);
            });
and found out that it was giving error code -11.

Code:-11 primary error: 3 certificate: Issued to: CN=*.login.windows.net;

Thanks once again for yo

[2017-04-24 23:26] jcabrera17 commented on #144
It works!! Thank you :)

[2017-04-25 07:44] matrosov-nikita commented on #144
@jcabrera17, thanks for verification!
@vladimir-kotikov, can we close this issue?

[2017-04-25 07:58] matrosov-nikita commented on #143
@aqib1604, sorry for late reply, I'm not sure I understand what you mean. It seems to me that this issue is related to server-side permissions. Could you please check it out again?
Also, as far as I know, `https://login.microsoftonline.com/{tenant}/oauth2/authorize` is using to request authorization code rather than access token (https://docs.microsoft.com/en-us/azure/active-directory/develop/acti

[2017-04-25 08:36] matrosov-nikita commented on #145
@aarshad786, thanks for verification. It looks like certificate validation issue. According this [arcticle](https://github.com/AzureAD/azure-activedirectory-library-for-android/wiki/SSL-Certificate-Validation-Issue) from native ADAL, you should upgrade `Android System Wevbiew`.
Also, this issue has already been discussed [here](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/i

[2017-04-28 14:00] matrosov-nikita commented on #145
@aarshad786, just a friendly ping.

[2017-04-28 14:01] matrosov-nikita commented on #142
@toveram, just a friendly ping.

[2017-04-28 15:51] aarshad786 commented on #145
@matrosov-nikita, (Y).. thanks man for all the help.. updating chrome and System Webview worked!!!

[2017-04-28 17:33] matrosov-nikita commented on #145
@vladimir-kotikov, can we close this issue?

[2017-04-28 19:19] #145 closed

[2017-05-02 18:06] paragw09ckp opened #148 "EXCEPTION: Uncaught (in promise): ReferenceError: Microsoft is not defined"
### Issue Description
I am developing an Ionic 2 app with Azure Cloud as backend. I am trying to develop authentication functionality in the app. The "**server-flow**" works fine but I am not able to get past an issue I have been having trying to get "**client-flow**" implemented using ADAL library (**cordova-plugin-ms-adal**).

Any help or pointers will be greatly appreciated. Thanks.

I am follo

[2017-05-02 20:01] paragw09ckp commented on #148
I came across [this issue](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/86) so ran my app on the device using `ionic run android` and it did go past the statement that was giving the error. Although, it is still not working I will close this particular issue and create a new one if needed.

[2017-05-02 20:01] #148 closed

[2017-05-03 08:31] #144 closed

[2017-05-03 18:57] SoonersBaby opened #150 "Error Deploying Plugin in Oracle MAF"
### Issue Description
After successfully importing the latest ADAL Cordova plugin in Oracle Mobile application Framework (MAF) via (JDeveloper) I'm getting the following error when deploying to my android device.  Other third party plugins deploy fine. I've made no changes to the plugin prior to import or deployment.

[02:46:16 PM] Installing "cordova-plugin-ms-adal" for android
[02:46:16 PM] Erro

[2017-05-04 07:21] matrosov-nikita commented on #150
@SoonersBaby, thanks for reporting. Are you able to install another cordova plugin and check whether MAF throws the same error when deploying?

[2017-05-04 16:49] SoonersBaby commented on #150
Yes, I installed the cordova-plugin-vibration and it installed fine.

Also, I get the same errors deploying to Android emulator. However, when I deploy to an iOS emulator I only get the single error below, and it continues to deploy.

[03:09:05 PM] Cannot call method 'indexOf' of undefined

Thanks.

[2017-05-05 11:24] rifhanakram commented on #85
if you have an web app hosted on azure app service and authentication and authorization for that app is handled via Azure B2C and if you want your Mobile App also to be authenticated and authorized via B2C you can use the [https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-cordova-how-to-use-client-library](Azure App Service Auth Lib for Cordova) to do this. This is a use

[2017-05-06 09:35] matrosov-nikita commented on #150
@SoonersBaby, thanks for the information, did you try this [solution](http://stackoverflow.com/a/36619718/4934330)?

[2017-05-06 10:39] matrosov-nikita commented on #150
@SoonersBaby, also I've set up an environment on the windows machine and tried to reproduce this issue w/o success.
There are logs:
[code]

[2017-05-08 16:41] SoonersBaby commented on #150
@matrosov-nikita, interesting that you got no errors. I'm using JDeveloper 12.1.3.0  with MAF version 2.2.1 (required for compatibility for some delivered Oracle apps of the same MAF level). Also, my maf-application.xml has no "Cordova Engine Version" option.

However, as [this link](https://docs.oracle.com/middleware/maf221/mobile/install/GUID-91DF0B93-265C-408B-8128-F0F3A1D91EC2.htm#MAFIG24925)

[2017-05-12 14:40] matrosov-nikita commented on #150
@SoonersBaby, I'm using JDeveloper v.12.2.1 and MAF v.2.4.0.
Did you have a chance to upgrade your environment?

[2017-05-12 15:32] SoonersBaby commented on #150
@matrosov-nikita

Yes, sorry about the late reply. I had to upgrade several components including my MAC O/S in order to get all the later versions of JDeveloper/MAF/XCode installed.  I've completed that and installed the plugins again but now I'm getting the error below about the Cordova version not being high enough.

![image](https://cloud.githubusercontent.com/assets/22177898/26005111/0c7c2ee6-

[2017-05-15 08:35] matrosov-nikita commented on #150
@SoonersBaby, thanks for trying, it seems to me that `MAF` 2.3.3.0 contains bundled cordova@4.x which doesn't satisfy [requirements](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/master/package.json#L28) for `cordova-plugin-ms-adal` plugin.  You need to get [MAF v.2.4.0](http://www.oracle.com/technetwork/developer-tools/maf/documentation/maf240relnotes-3630024.html) (wa

[2017-05-15 20:59] SoonersBaby commented on #150
@matrosov-nikita,

After updating to `MAF 2.4.0`, I was able to deploy the `cordova-plugin-ms-adal` plugin.  Thanks for the assistance.

[2017-05-15 20:59] #150 closed

[2017-05-17 08:46] #142 closed

[2017-05-18 09:58] matrosov-nikita commented on #143
@aqib1604, just a friendly ping, are you still experiencing this problem?

[2017-05-18 13:04] SPDoctor opened #153 "MSAL plugin for Cordova?"
### Issue Description
Any chance we could have an MSAL library plugin using the MSAL native libraries: https://github.com/AzureADmicrosoft-authentication-library-for-android, https://github.com/AzureAD/microsoft-authentication-library-for-objc and https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet?

[2017-05-24 21:00] paragw09ckp opened #154 "Azure AD Authentication Error: User Cancelled the flow"
### Issue Description
I am developing a Hybrid Mobile App using **Ionic 2 and AngularJS 2** framework. And I am trying to develop user authentication functionality using **Azure AD** and having some issue in the process. I have implemented the client-flow authentication using ADAL library but when I try to login it is giving an error as below:

[code]

The latest **CorrelationId** is **92bb1c8e-97

[2017-05-25 12:45] matrosov-nikita commented on #154
Hi @paragw09ckp, thanks for reporting. I was able to create Ionic2 application with similar behavior (enter login and make token acquisition). But after token request, I got authentication result. This is my code:

home.html
[code]

home.ts
[code]

My ionic settings (could you please post here your settings using `ionic info` command):
[code]
Since v0.10.0 we've added logger implementation for con

[2017-05-25 14:01] paragw09ckp commented on #154
Hi Nikita,

Thanks for looking into this and making it work at your end. I will try it in some time and get back to you.

On the first glance, I don’t see any difference between my code and yours except for two things:

1.       For “resourceUri” you are using “https://graph.windows.net/” and I am using “https://login.windows.net/common” as per the docs.

2.       Logger implementation that was ad

[2017-05-25 14:26] ruwaniPathirana opened #155 "In iOS 10.3.3/10.0.0 when i give user credentials and click on signIn button the data i have entered in ADAL pop up get cleared and i wont be able to log in"
Im developing a mobile app using ionic 2 and I have installed ADAL version 0.10.0.
In iOS 10.3.3 and in 10.0.0 when i give user credentials and click on signIn button the data i have entered (credentials) in ADAL pop up get cleared and i wont be able to log in.

NOTE: it is working fine in iOS  10.0. 2

It will be a great help if anyone can help me on this....

[2017-05-25 15:35] paragw09ckp commented on #154
Hi Nikita,

I tried it on my end but it is still not working. And this time it just stays on my login page. Does not open the Microsoft login page where I would enter my AD password. I am guessing it’s because I am using “resourceUri” you used (https://graph.windows.net/).

The other change you had in your code is that you are clearing tokenCache (authContext.tokenCache.clear()) in authenticate fu

[2017-05-25 17:02] paragw09ckp commented on #154
Hi again Nikita,

I notice one thing just now.

You are using Graph API URI for "**resourceUri**" value. When I tried it on my end, I actually changed "**authority**" value thinking in my head that rest of the variables () are for specifying values related to my app. And I posted it's working. Clearly, that won't work.

**My apologies.**

This time changed the correct variable's value (i.e. "resou

[2017-05-26 06:56] ruwaniPathirana commented on #155
it was my device issue. once i factory reset it is working as expected.
Sorry for the inconvenience caused..

[2017-05-26 06:56] #155 closed

[2017-05-26 07:50] matrosov-nikita commented on #154
@paragw09ckp, thanks for the verification.
I guess, you need to remove this line `authContext.tokenCache.clear();` (I've added it just for testing purposes), otherwise, the non-silent token acquisition will be failed before each attempt to authorize due to empty cache and you will be returned back to the login page.

[2017-05-26 12:09] matrosov-nikita commented on #153
@SPDoctor, thanks for reporting, most likely we are not planning to integrate plugin with MSAL native libraries in the near future.

/cc @vladimir-kotikov

[2017-06-13 17:21] GauravMahajanMicrosoft commented on #92
The issue was due to firewall and authority not being whitelisted. This is fixed now. Thanks!

[2017-06-13 17:21] #92 closed

[2017-06-13 17:24] GauravMahajanMicrosoft commented on #75
This happens only on domain joined devices. It could be WebAuthenticationBroker is caching the cookies.

[2017-06-13 17:25] GauravMahajanMicrosoft commented on #94
We are still facing this issue.

[2017-06-13 18:06] FBNitro opened #156 "ios: Existing Entitlements File replaced with new one"
### Issue Description
My app currently has an entitlements file, referenced by the XCode project.  After going through the cordova plugin add, the entitlements file reference in the xcode project is changed to be the ADALiOS.entitlements file.  My existing entitlements are no longer applied, and the app stops working correctly (for push in my case).

If possible, it should merge the entitlements i

[2017-06-14 12:00] matrosov-nikita commented on #156
Hi @FBNitro, thanks for reporting, I'll take a look at this issue.

[2017-06-15 12:37] matrosov-nikita commented on #156
@FBNitro, I've tried to reproduce this issue w/o any luck, values from `ADALiOS.entitlements ` are successfully merged in `Entitlements-Debug.plist` and existing values remain in this file (w/ both 0.9.0 and 0.10.0 versions).

Could you please specify the name of your entitlements file?

[2017-06-15 14:17] FBNitro commented on #156
My Entitlements file is named after the app.   <appName>.entitlements

[2017-06-16 09:08] matrosov-nikita commented on #156
@FBNitro, let us know once you upgrade your environment.

[2017-06-20 18:57] FBNitro commented on #156
Looks ok after the upgrade.  I went up to 4.3.0 w/cordova 6.5.0 CLI, I had to use the new Entitlements-Debug/Release.plist instead of my <appName>.entitlements, but all is well.  Thanks.  Closing this issue.

[2017-06-20 18:57] #156 closed

[2017-06-26 09:50] matrosov-nikita commented on #154
@vladimir-kotikov, can we close it due to lack of response?

[2017-06-26 09:51] matrosov-nikita commented on #143
@vladimir-kotikov, can we close it due to lack of response?

[2017-06-26 10:50] vladimir-kotikov commented on #154
Closing. @paragw09ckp, feel free to reopen if you have any issues

[2017-06-26 10:50] vladimir-kotikov commented on #143
Closing this due to lack of response. @aqib1604, if you're still experiencing this, feel free to reopen.

Thanks

[2017-06-26 11:59] #154 closed

[2017-06-26 12:00] #143 closed

[2017-06-29 14:52] filionf opened #157 ".NETCore,Version=v4.5.1 not found when building with VS 2017"
### Issue Description
I am unable to add the plugin to a cordova project using Visual Studio 2017.
`error MSB3644: The reference assemblies for framework ".NETCore,Version=v4.5.1" were not found. To resolve this, install the SDK or Targeting Pack for this framework version or retarget your application to a version of the framework for which you have the SDK or Targeting Pack installed.`

### Repro

[2017-06-29 15:19] vladimir-kotikov commented on #157
@filionf thanks for reporting! @matrosov-nikita, couldyou please take a look?

[2017-06-30 13:46] matrosov-nikita commented on #157
I confirm this bug and going to take a deeper look at it.

[2017-07-01 15:32] matrosov-nikita commented on #157
@filionf, I made PR, could you please test it and let us know whether it resolves build problem in VS2017.
@vladimir-kotikov, can you review?
I'm also going to test this fix with VS2015 to check back compatibility.

[2017-07-01 19:39] filionf commented on #157
Yes, I confirm it works with VS2017. Thanks @matrosov-nikita .

[2017-07-02 17:25] matrosov-nikita commented on #157
It works with VS2015 as well.

[2017-07-03 07:47] vladimir-kotikov commented on #157
Closed via #158

[2017-07-03 07:47] #157 closed

[2017-07-11 10:43] lightwaxx opened #162 "No response from acquireTokenAsync"
When **acquireTokenAsync** is called, the login is successful but nothing is returned. I recently updated the plugin and reinstalled Android and now it is not working. It working though on an earlier version of the app

1. Installed plugin version:  (Have you tried installing the latest plugin version to ensure this has not already been fixed?) 0.10.1
2. Target Platform: Android
3. Cordova and pla

[2017-07-11 11:22] matrosov-nikita commented on #162
@lightwaxx, thanks for reporting. I'll take a look at this issue, could you please verify whether this bug reproduces with v0.10.0 (just to confirm that it's regression after upgrading SDK library to 1.12.0)

[2017-07-11 12:55] matrosov-nikita commented on #162
@lightwaxx, I tried to acquire token using a non-silent method and received it as expected w/ v0.10.1.
It'd be very helpful if you could share your code snippet.
Also, since v0.10 you can set a logger (see https://github.com/AzureAD/azure-activedirectory-library-for-cordova#logging) which collects logs from native SDK library. We can try to analyze them and understand what the problem is.

[2017-07-13 13:22] matrosov-nikita commented on #162
@lightwaxx, just a friendly ping

[2017-07-17 11:52] lightwaxx commented on #162
Hello @matrosov-nikita . It must have been an issue with an outdated plugin. I removed and reinstalled all plugins and  platforms, reinstalled and it worked perfectly.

[2017-07-17 11:52] #162 closed

[2017-07-19 15:11] cocowalla opened #163 "How to get browser requests working?"
We're using ADAL in a Cordova app, and it's working great for when we make web service calls in our code. We get the token, then we put it in the `Authorization` header - no problems there.

However, requests that the browser (e.g. Android WebView) makes, for example for images (using the HTML `img` tag) or audio (using the HTML5 audio tag), do not work.

Using the Chrome debugger, I see 2 HTTP re

[2017-07-20 07:07] cocowalla commented on #153
@matrosov-nikita Can you expand on the reasons for that? Is MSAL no longer seen as a replacement for ADAL, or is it just not a priority to have it working with Cordova?

[2017-07-20 12:45] matrosov-nikita commented on #163
@cocowalla, thanks for reporting, I'll take a look at this a little later.

[2017-07-24 11:39] matrosov-nikita commented on #163
@cocowalla, sorry for the delay, just to clarify these HTTP requests
1) The first one (`/authorize` endpoint) is used to request an authorization code
2) The second (`/token` endpoint) is used to request access token (headers include authorization code that you acquired in the previous response)

As for Webview requests, can you share any sample HTML which we can refer to understand the problem?

[2017-07-24 14:19] cocowalla commented on #163
@matrosov-nikita Yes, I'm clear on what the endpoints do.

Regarding HTML, just about anything will do. For example:

`<img src="https://my-oauth-projected-site/img/something.jpg">`

I need to access images and audio files that are stored on a server which is protected by OAuth. Now, I know I can access these fine in code, as I have control over the headers which are sent (so I can sent the Author

[2017-07-24 15:32] matrosov-nikita commented on #163
@cocowalla Yes, ADAL plugin doesn't provide this opportunity. My guess is that it's pretty difficult to determine when we need to include custom authentication header with access token in the Webview request. This would allow for the possibility of sending a token to the third-party server.

[2017-07-24 18:34] cocowalla commented on #163
@matrosov-nikita Firstly, you should be able to toggle this feature on/off, as it's not going to be applicable for all use cases.

As for *when* to send the header, it shouldn't be too difficult. A couple of ways would be:

1. From your app code, provide the plugin with a list of domains or base URLs for which you want an Authorization header to be sent
2. From your app code, provide the plugin wi

[2017-07-25 08:41] matrosov-nikita commented on #163
@cocowalla, thanks, the first approach looks good to me, I'll discuss it and let you know once we decide to implement it.

[2017-07-26 17:28] alexmeincheim commented on #85
Any news on when B2C support is coming?

[2017-07-28 16:03] GauravMahajanMicrosoft opened #164 "[Android] ExpiresOn.getTime() in AuthenticationResult is returning NaN"
### Issue Description
A lot of our customer logs who are not able to login, we see that the expiresOn.getTime is NaN.

### Repro Environment Details
1. Installed plugin version:  0.10.0
2. Target Platform: Android

[2017-07-28 17:29] GauravMahajanMicrosoft commented on #164
We do not have a repro yet but it constitutes 6000errors/day (around 20% of all errors). We do not log the verbose level of Native logs and no error log was logged by the android library. We log the Date.now().getTime() and it evaluated to 1501106663476 when we logged the error. We acquired the token around 5 min of that time.

Observations:
1. I was never able to reproduce this.
2. The users who

[2017-07-28 18:15] GauravMahajanMicrosoft commented on #164
These are the numbers for 2 days:

	Android OS version	count
	5.1	          256
	5.1.1	          542
	5.0.1	          21
	6.0.1	         48
	7.1.1	         14
	5.0	        135
	5.0.2	        128
	6.0	         4
	7.0	        55

[2017-07-31 10:22] iverveinc opened #165 "Multi-Tenant Application"
I have used this plugin with my IONIC app. I am using /common end point and working fine. But as per Microsoft guy: "You did not adhere to the multitenant process description" . Can anyone help me with this? How to configure multi tenant application with this. And what i have to take care of?

[2017-07-31 22:00] iambmelt commented on #164
Issue is now tracked via IcM

[2017-07-31 22:00] #164 closed

[2017-09-04 11:48] matrosov-nikita commented on #165
@iverveinc, sorry for the late reply, are you still experiencing this issue? If yes, would you please double check the following steps to convert your app to multi-tenant (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devhowto-multi-tenant-overview)?

Regarding error message, seems it happens due to lack of permissions. Did you try go to AAD -> App registrations

[2017-09-04 14:20] khalidawwad opened #166 "Crash on iOS - getOrCreateAuthContext"
### Issue Description
The app crashes on iOS -

CordovaAdalPlugin (file) - getOrCreateAuthContext (method)
on this line:     ADAuthenticationContext *authContext = [existingContexts objectForKey:authority];

### Repro Environment Details
1. Installed plugin version:  (Have you tried installing the latest plugin version to ensure this has not already been fixed?) **Last version**
2. Target Platform

[2017-09-05 11:48] RobertPinson commented on #85
Any news on when B2C support is coming?

[2017-09-20 10:37] martinlingstuyl opened #167 "prompt parameter cannot be overridden"
### Issue Description
I need to override the prompt parameter with prompt=consent because of an issue with AAD that can be reproduced like this:
1) Create a Native AAD app and give it some permissions
2) Use the AAD app in cordova > sign in, a consent screen is shown.
3) Now add a new permission scope to the Native AAD app.
4) Try to sign in again: it will not show a consent screen after signin in

[2017-09-26 09:54] matrosov-nikita commented on #167
@martinlingstuyl Thanks so much for taking the time to submit this report! I can confirm using the latest `ADAL@0.10.1` I am able to reproduce this issue.

It looks like a bug in the .NET library caused due to adding `prompt=login` by default to extra query parameters. The only workaround I found now is to use `PromptBehaviour.auto` as platform parameter.

Could you please verify this assumption b

[2017-09-26 12:15] matrosov-nikita commented on #166
@khalidawwad Thanks for reporting, I couldn't reproduce this crash as well. Could you please try to enable logging (https://github.com/AzureAD/azure-activedirectory-library-for-cordova#logging) to get more internal logs?

[2017-09-26 12:28] martinlingstuyl commented on #167
Hi Nikita,

Thanks for responding!

This does indeed 'fix' the issue on the windows platform. When changing the PromptBehavior parameter to 'auto', I can see the prompt parameter disappearing from the Azure AD login dialog url. If I then add prompt=consent to extraQueryParameters, this is correctly appended to the login dialog url, and it shows a nice consent screen after signing in.

Of course, y

[2017-10-19 16:20] woutderooms opened #168 "Plugin unavailable when using livereload in ionic."
### Issue Description
When using the cordova-plugin-ms-adal in an ionic project everything works as expected. However once I enable livereload, I get the message that the cordova plugin is not available. (I am waiting for platform.ready(), so this is not the issue. Other cordova plugins are available when using the livereload flag.

I think it might be due to ionic enabling 'remote mode' because i

[2017-10-23 08:21] Muldoser commented on #168
+1

[2017-10-24 06:18] khalidawwad commented on #166
Found it - existingContext NSDictionary is not thread safe. thats why it a rare error and hard to reproduce.
Anyway, as long as NSDictionary is accessed in background thread, it must be thread safe.
Will open a PR

[2017-10-24 06:35] khalidawwad opened #170 "Crash on IOS - CordovaAdalPlugin tokenCacheDeleteItem"
### Issue Description
Crash on IOS
Source telemetery.

crashed thread log:

Thread 11 Crashed:
--
1 | libobjc.A.dylib | objc_object::release() + 16
2 | Flow | __42-[CordovaAdalPlugin tokenCacheDeleteItem:]_block_invoke (CordovaAdalPlugin.m:253)
3 | libdispatch.dylib | _dispatch_call_block_and_release + 20

All log - attached

### Repro Environment Details
1. Installed plugin version:
**Latest**
2.

[2017-10-24 06:43] khalidawwad commented on #170
This maybe related: Delete cache item already called and processing, the second call crashed.

[crash_2.log](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/files/1409789/crash_2.log)

[2017-10-27 22:23] kromark opened #171 "Plugin show SSO page in debug build but not release builds on Windows 10"
Using the plugin and the project sample on Windows10 UWP login works in debug compilation and shows Azure SSO, however when compiled in Release throws exception "TypeInitialization_Type_NoTypeAvailable"  and fails to show Azure SSO.

This seems likely due to .NET Native Compiler optimizing ADAL away.
Is there a fix for this? or assistance with rd.xml directives to ensure ADAL library gets into the

[2017-11-03 09:18] lightwaxx opened #172 "Error: The Prefix of the redirect url does not match the expected value"
### Issue Description
We a user taps on the button to redirect to the login page, they instead get an error saying the below

"Error: The prefix of the redirect uri does not match the expected value. The valid broker redirect URL prefix: msauth so the redirect uri is expected to be:msuath://com.xxxxxxx.xxxx/xxxxxx%2Fxxxxxxxxxx%3D"

### Repro Environment Details
1. Installed plugin version:  7.1.0

[2017-11-06 14:39] leob opened #173 "Ability to receive the authorization code (in addition to the tokens)?"
After successful login the plugin gives me a response containing (among others) the id_token and the access_token.

This is cool, but is there a way to receive the authorization code (in addition to the token) ?

What I mean is that, if you're implementing the AzureAD/OAuth authentication flows in a web app (browser based), it's possible to simply append a "response_type" parameter to your "author

[2017-11-10 06:57] jjalfaro commented on #85
Hi, is there any news about this, are you going to support B2C on the plugin soon?

[2017-11-10 07:18] jjalfaro commented on #85
@jospete is the your [patch ](https://github.com/jospete/azure-activedirectory-library-for-cordova)currently working with B2c? I'm trying to use it without success to show the policy sign in screen.

[2017-11-12 05:46] RobertPinson commented on #85
I am using @jospete patch in a POC but the token refresh does not work.

[2017-11-14 12:49] tobbbe commented on #167
@martinlingstuyl @matrosov-nikita I tried changing https://github.com/AzureAD/azure-activedirectory-library-for-cordova/blob/212ecda23c0e454083fcc236117b4c8e51630d69/src/android/CordovaAdalPlugin.java#L42 to `Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior.Auto`.

But when I try to login again after login out (https://github.com/AzureAD/azure-activedirectory-library-for-cordova#how-

[2017-11-16 07:22] lightwaxx commented on #172
Anyone with an update on this error?

[2017-11-16 14:26] tobbbe opened #174 "New permissions/claims"
### Issue Description
How do I prompt user for new permissions? Ive added permissions since I created the app in azure-portal? Ive tried logout+login. But permissions are not updated.

### Repro Environment Details
1. Installed plugin version:  latest
2. Target Platform: android and ios
3. Cordova and platform versions: just run `cordova -v && cordova platform list`
4. Test device and OS version:

[2017-11-22 00:30] FBNitro opened #175 "Exception thrown when merging exports.Clients from ADAL3Compat"
### Issue Description
Upgraded from 0.9.0 to 0.10.1, after doing so I started getting exceptions at startup.

[code]

When the exports.Clients is merged it is throwing an exception:
"JavaScript runtime error: Cannot redefine non-configurable property 'PromptBehavior'"

I can temporarily work around this by commenting out the exports.Clients block above, I'm just not sure of the side-effects yet.

[2017-11-22 17:07] FBNitro commented on #175
Follow up: I upgraded to Cordova Windows 4.4.3 and that seems to have resolved the issue.  So it appears that the minimum version for the plugin is not set correctly.

[2017-11-22 21:28] FBNitro commented on #175
And now release builds in Windows don't work, but debug builds do (seems like a different issue, but to me it's all the same, I can't get this plugin to work after upgrading).

[2017-11-23 05:35] supraja1024 commented on #85
@jospete I tried using your patch for my cordova app. Everything seems working except that I need to send scopes to the authorization URL according to my needs but it looks like they are hardcoded to be offline_access&openid&profile all the time and hence I am getting **duplicate scope error** when I try to send scopes in extraQueryParams. Could you please let me know if there is any way that I ca

[2017-11-28 14:29] domingosliraneto opened #176 "Keep me logged in."
I am using ms adal along with Ionic, in the authentication part does not appear the option Keep me Connected, how can I solve this?

[2017-12-05 09:55] khalidawwad commented on #170
Local fix in our code:
We wait for first item deleting completion before deleting a second item.

[2017-12-14 09:40] ajberry opened #177 "acquireTokenSilentAsync fails but refreshes token"
### Issue Description

Windows 10 x64 Build.

First thing the app does is check to see if a login is required. The following code is used:

`var storage = window.localStorage;
            var value = storage.getItem('SPExpire');
            var expireDate = new Date(value);
            var refresh = false;
            if (value === null || expireDate < Date.now()) {
                refresh = true;